---
title: Tropical Ruby 2015 — Código de Conduta — 5 a 8 de março em Porto de Galinhas, Brasil
---

<main class="appendix appendix-area">
  <h1>Um Código para a Todos Governar</h1>

  <section class="wall-of-text">
    <h2>Código de Conduta</h2>
    <p>O Tropical Ruby se dedica a prover uma experiência sem constrangimentos para todos, independente de gênero, identidade e expressão de gênero, orientação sexual, deficiências, aparência física, dimensões corporais, raça, religião ou posicionamento político. Não será tolerado o constrangimento de participantes da conferência de modo algum. Linguagem e imagens sexuais direcionadas a qualquer grupo ou pessoa específicos não são apropriados ao local do evento, incluindo palestras. Participantes da conferência que violarem estas regras podem ser expulsos da conferência sem reembolso, a critério dos organizadores da conferência.</p>
    <p>Constrangimentos incluem comentários ofensivos relacionados a gênero, identidade e expressão de gênero, orientação sexual, deficiências, aparência física, dimensões corporais, raça, religião, posicionamento político, imagens de cunho sexual em locais públicos, intimidação intencional, perseguição, gravações ou fotos constrangedoras, interrupções continuadas das palestras ou outros eventos, contato físico inapropriado e atenção sexual não solicitada. Os participantes que forem solicitados a parar com o comportamento constrangedor devem fazê-lo imediatamente.</p>
    <p>Expositores no salão de exposições, estandes de patrocinadores ou fornecedores, ou atividades similares também estão sujeitos à política de prevenção de constrangimento. Em especial, expositores não deverão usar imagens, atividades ou materiais sexualizados. Tanto a organização do evento (incluindo voluntários), não deverão usar roupas sexualizadas ou criar um ambiente sexualizado. Apesar da conferência ser localizada na praia, os participantes, equipe de organização e expositores não podem utilizar roupas de banho durante as palestras e workshops.</p>
    <p>Se um participante apresentar comportamentos constrangedores, os organizadores da conferência podem tomar quaisquer ações a seu critério, incluindo alertar o ofensor ou expulsá-lo da conferência sem reembolso. Se você estiver sendo constrangido, perceber que alguém está sendo constrangido, ou tiver outras preocupações, favor contacte um membro da organização imediatamente. A equipe da organização do evento pode ser identificada por camisetas e credenciais de staff.</p>
    <p>A equipe da organização do evento se disponibiliza a ajudar participantes a contactarem a segurança do hotel ou a polícia local, providenciar escolta ou ajudar os que estiverem sendo constrangidos a se sentirem seguros durante a conferência. Nós contamos com a sua participação.</p>

    <h3>Contatos Úteis</h3>
    <ol>
      <li>Equipe da Conferência: <a href="mailto:info@tropicalrb.com">info@tropicalrb.com</a></li>
      <li>Summerville Beach Resort: <strong>(+55) 81 3302 5555</strong></li>
      <li>Polícia: <strong>190</strong></li>
      <li>Central de Atendimento à Mulher: <strong>180</strong></li>
      <li>SAMU: <strong>192</strong></li>
    </ol>

    <p>Esperamos que os participantes sigam estas regras em todos os locais do evento e eventos relacionados.</p>
  </section>
</main>

