---
title: Tropical Ruby 2015 — Créditos — 5 a 8 de março em Porto de Galinhas, Brasil
---

<main class="appendix appendix-area">
  <h1>Sim, Nós Fizemos!</h1>

  <section class="credits">
    <h2>Créditos</h2>
    <h4>Organizado por</h4>
    <dl>
      <dt><a href="http://guava.com.br" target="_blank">Guava Software</a></dt>
      <dd>Produção, website &amp; gráficos</dd>
      <dt><a href="http://geteloquent.com" target="_blank">Eloquent Studio</a></dt>
      <dd>Curadoria e tradução</dd>
      <dt><a href="http://twitter.com/dinizz" target="_blank">Thiago Diniz</a></dt>
      <dd>Patrocínios</dd>
      <hr>
      <dt><a href="http://www.rubycentral.org" target="_blank">Ruby Central</a></dt>
      <dd>Assessoria</dd>
      <dt><a href="http://recife.impacthub.net" target="_blank">Impact Hub Recife</a></dt>
      <dd>Assessoria</dd>
      <dt><a href="http://www.casaeventosempresariais.com.br" target="_blank">Casa Eventos Empresarias</a></dt>
      <dd>Produção Executiva</dd>
    </dl>
    <h4>Fotografia</h4>
    <small>Disponível no <a href="http://flickr.com" target="_blank">Flickr</a></small>
    <dl>
      <dt>Passeio de Buggy</dt>
      <dd>Felipe Leão</dd>
      <dt>Passeio de Jangada</dt>
      <dd>Ricardo Mendonça Ferreira</dd>
      <dt>Mergulho com Cilindro</dt>
      <dd>George Asbeck</dd>
      <dt>Catamarã</dt>
      <dd>Márcio Cabral de Moura</dd>
      <dt>Corais de Porto</dt>
      <dd>Victor Bonomi</dd>
      <dt>Recife à Noite</dt>
      <dd>Paula Cristina</dd>
    </dl>
    <h4>Iconografia</h4>
    <small>Disponível no <a href="http://www.thenounproject.com" target="_blank">The Noun Project</a></small>
    <dl>
      <dt>Ingresso</dt>
      <dd>por NAS</dd>
      <dt>Tradução</dt>
      <dd>por Geremy Good</dd>
      <dt>Ônibus</dt>
      <dd>por Pierre-Luc Auclair</dd>
      <dt>Cerveja</dt>
      <dd>por Larissa Mancia</dd>
      <dt>Jipe com Prancha de Surfe</dt>
      <dd>por Luis Prado</dd>
      <dt>Ponte sobre a Água</dt>
      <dd>por Sérgio Fontes</dd>
      <dt>Ilha</dt>
      <dd>por Arthur Schmitt</dd>
      <dt>Calendário</dt>
      <dd>por aartiraghu</dd>
      <dt>Local</dt>
      <dd>por Fission Strategy</dd>
      <dt>Jipe (Frente)</dt>
      <dd>por Luis Prado</dd>
      <dt>Jangada</dt>
      <dd>por Pham Thi Dieu Linh</dd>
      <dt>Barco (Catamarã)</dt>
      <dd>por Pham Thi Dieu Linh</dd>
      <dt>Snorkel</dt>
      <dd>por Nithin Viswanathan</dd>
      <dt>Etiqueta</dt>
      <dd>por Sérgio Fontes</dd>
      <dt>Bola de Praia</dt>
      <dd>por Celine Labaume</dd>
      <dt>Engrenagem</dt>
      <dd>por Reed Enger</dd>
      <dt>Microfone</dt>
      <dd>por Edward Boatman</dd>
      <dt>Olho</dt>
      <dd>por Travis Yunis</dd>
      <dt>Jornal</dt>
      <dd>por Arthur Schmitt</dd>
      <dt>Fist Bump</dt>
      <dd>por Kyle Tezak</dd>
      <dt>Link</dt>
      <dd>por Fission Strategy</dd>
      <dt>Cama</dt>
      <dd>por Nherwin Ardoña</dd>
    </dl>
    <h4>Tipografia</h4>
    <small>Disponível no <a href="http://www.google.com/fonts" target="_blank">Google Fonts</a></small>
    <dl>
      <dt>Molle</dt>
      <dd>por Elena Albertoni</dd>
      <dt>Titillium</dt>
      <dd>por Accademia di Belle Arti di Urbino</dd>
      <dt>Xilosa</dt>
      <dd>por Atila Milanio</dd>
    </dl>
    <h4>Cores</h4>
    <small>Disponível no <a href="http://www.colourlovers.com" target="_blank">Colour Lovers</a></small>
    <dl>
      <dt>Tropical Beach</dt>
      <dd>por jasurprenant</dd>
      <dt>50s Postscards</dt>
      <dd>por T-Time</dd>
      <dt>Frevo On Rails</dt>
      <dd>por Sérgio Fontes</dd>
    </dl>
    <h4>Tecnologia</h4>
    <ol>
      <li>Caneta &amp; papel</li>
      <li>Adobe Photoshop</li>
      <li>Adobe Illustator</li>
      <li>Sublime Text Editor</li>
      <li>Middleman App</li>
      <li>GitHub Repositories</li>
      <li>GitHub Pages</li>
      <li>Slack</li>
    </ol>
  </section>
</main>

