---
title: Tropical Ruby 2015 — 5 a 8 de março em Porto de Galinhas, Brasil
---

<main class="hero">
  <h1 class="hero-logo">Tropical Ruby '15</h1>

  <a class="video-call" href="/en/videos"><span class="icon-medium icon-video"></span>Procurando os vídeos?</a>

  <header class="hero-data">
    <time datetime="2015-03-5 8:00, 2015-03-8 9:00">5 a 8 de março de 2015</time>
    <address>Porto de Galinhas<br>
    Summerville<br>
    Beach Resort, Brasil</address>
  </header>

  <article class="hero-area">

    <section class="about row">
      <div class="hero-description">
        <h3>O Melhor do Ruby na Praia</h3>
        <p>Curta ótimas conversas, paisagens deslumbrantes e uma natureza sensacional. Venha conversar com alguns dos melhores Rubistas neste paraíso tropical.</p>
        <ul class="hero-advantages">
          <li title="Tradução simultânea de Inglês para Português e de Português para Inglês.">
            <span class="icon-medium icon-translation"></span>Tradução simultânea
          </li>
          <li title="Transporte grátis de Recife para Porto de Galinhas e de volta para Recife nos dias 6 e 7 de março.">
            <span class="icon-medium icon-transportation"></span>Transporte grátis
          </li>
        </ul>
      </div>
      <div class="hero-social">
        <span class="greetings"></span>
        <ul>
          <li>
            <a class="lanyrd" href="http://lanyrd.com/2015/tropicalrb/" target="_blank" title="Lanyrd">Lanyrd</a>
          </li>
          <li>
            <a class="github" href="https://github.com/frevo-on-rails/tropicalrb.com" target="_blank" title="Github">GitHub</a>
          </li>
          <li>
            <a class="facebook" href="https://facebook.com/tropicalrb" target="_blank" title="Facebook">Facebook</a>
          </li>
          <li>
            <a class="twitter" href="https://twitter.com/tropicalrb" target="_blank" title="Twitter">Twitter</a>
          </li>
          <li>
            <a class="email" href="mailto:info@tropicalrb.com" title="Entre em contato com a gente por e-mail.">E-mail</a>
          </li>
        </ul>

        <form class="newsletter" id="newsletter" method="post" action="//abrilproruby.us3.list-manage.com/subscribe/post?u=91f07f556bcf88c39c98457f7&amp;id=12c348ff6f" target="_blank">
          <label for="newsletter-email" class="title-info">Inscreva-se na nossa newsletter</label>
          <div class="form-group">
            <input id="email" type="email" name="EMAIL" class="form-control" placeholder="Informe seu e-mail">
            <div style="position: absolute; left: -5000px;">
              <input type="text" name="b_91f07f556bcf88c39c98457f7_12c348ff6f" tabindex="-1" value="">
            </div>
            <button class="btn btn-default newsletter-submit" type="submit">Cadastrar</button>
          </div>
        </form>
      </div>
    </section>

    <section class="speakers">
      <div class="hero-speaker video">
        <% link_to "/pt/videos#avdi-grimm", title: "Assista a palestra do Avdi Grimm." do %>
          <%= image_tag 'event-speaker-avdi@2x.png', class: 'hero-speaker-photo', alt: 'Avdi Grimm' %>
          <span class="icon-medium icon-video"></span><strong class="hero-speaker-name">Avdi Grimm</strong>
        <% end %>
      </div>
      <div class="hero-speaker">
        <% link_to "/pt/schedule/march-6#nick-sutterer", title: "Saiba mais sobre a palestra do Nick Sutterer." do %>
          <%= image_tag 'event-speaker-nick@2x.png', class: 'hero-speaker-photo', alt: 'Nick Sutterer' %>
          <strong class="hero-speaker-name">Nick Sutterer</strong>
        <% end %>
      </div>
      <div class="hero-speaker video">
        <% link_to "/pt/videos#rodrigo-franco", title: "Assista a palestra do Rodrigo Franco." do %>
          <%= image_tag 'event-speaker-rodrigo@2x.png', class: 'hero-speaker-photo', alt: 'Rodrigo Franco' %>
          <span class="icon-medium icon-video"></span><strong class="hero-speaker-name">Rodrigo Franco</strong>
        <% end %>
      </div>
      <div class="hero-speaker video">
        <% link_to "/pt/videos#carlos-antonio", title: "Assista a palestra do Carlos Antonio." do %>
          <%= image_tag 'event-speaker-carlos@2x.png', class: 'hero-speaker-photo', alt: 'Carlos Antonio' %>
          <span class="icon-medium icon-video"></span><strong class="hero-speaker-name">Carlos Antonio</strong>
        <% end %>
      </div>
    </section>

  </article>
</main>
