---
title: Tropical Ruby 2015 — March 5th to 8th at Porto de Galinhas, Brazil
---

<main class="hero">
  <h1 class="hero-logo">Tropical Ruby '15</h1>

  <header class="hero-data">
    <time datetime="2015-03-5 8:00, 2015-03-8 9:00">March 5-8 2015</time>
    <address>Porto de Galinhas<br>
    Summerville<br>
    Beach Resort, Brazil</address>
  </header>

  <article class="hero-area">

    <section class="about row">
      <div class="hero-description">
        <h3>The Beach Ruby Conference</h3>
        <p>Enjoy amazing conversations, stunning landscapes and a superb nature. Come and talk with some of the best Rubyists in this tropical paradise.</p>
        <ul class="hero-advantages">
          <li title="Simultaneous translation from Portuguese to English and English to Portuguese.">
            <span class="icon-medium icon-translation"></span>Simultaneous translation
          </li>
          <li title="Free transportation from Recife to Porto de Galinhas back to Recife on March 6 and 7.">
            <span class="icon-medium icon-transportation"></span>Free transportation
          </li>
        </ul>
      </div>
      <div class="hero-social">
        <span class="greetings"></span>
        <ul>
          <li>
            <a class="lanyrd" href="http://lanyrd.com/2015/tropicalrb/" target="_blank" title="Lanyrd">Lanyrd</a>
          </li>
          <li>
            <a class="github" href="https://github.com/frevo-on-rails/tropicalrb.com" target="_blank" title="Github">GitHub</a>
          </li>
          <li>
            <a class="facebook" href="https://facebook.com/tropicalrb" target="_blank" title="Facebook">Facebook</a>
          </li>
          <li>
            <a class="twitter" href="https://twitter.com/tropicalrb" target="_blank" title="Twitter">Twitter</a>
          </li>
          <li>
            <a class="email" href="mailto:info@tropicalrb.com" title="Contact us via e-mail.">E-mail</a>
          </li>
        </ul>

        <form class="newsletter" id="newsletter" method="post" action="//abrilproruby.us3.list-manage.com/subscribe/post?u=91f07f556bcf88c39c98457f7&amp;id=12c348ff6f" target="_blank">
          <label for="newsletter-email" class="title-info">Subscribe to our newsletter</label>
          <div class="form-group">
            <input id="email" type="email" name="EMAIL" class="form-control" placeholder="Enter your e-mail address">
            <div style="position: absolute; left: -5000px;">
              <input type="text" name="b_91f07f556bcf88c39c98457f7_12c348ff6f" tabindex="-1" value="">
            </div>
            <button class="btn btn-default newsletter-submit" type="submit">Signup</button>
          </div>
        </form>
      </div>
    </section>

    <section class="speakers">
      <div class="hero-speaker video">
        <% link_to '/en/videos#avdi-grimm', title: "Watch Avdi Grimm's talk." do %>
          <%= image_tag 'event-speaker-avdi@2x.png', class: 'hero-speaker-photo', alt: 'Avdi Grimm' %>
          <span class="icon-medium icon-video"></span><strong class="hero-speaker-name">Avdi Grimm</strong>
        <% end %>
      </div>
      <div class="hero-speaker">
        <% link_to '/en/schedule/march-6#nick-sutterer', title: "See more about Nick Sutterer's talk." do %>
          <%= image_tag 'event-speaker-nick@2x.png', class: 'hero-speaker-photo', alt: 'Nick Sutterer' %>
          <strong class="hero-speaker-name">Nick Sutterer</strong>
        <% end %>
      </div>
      <div class="hero-speaker">
        <% link_to '/en/schedule/march-7#rodrigo-franco', title: "See more about Rodrigo Franco's talk." do %>
          <%= image_tag 'event-speaker-rodrigo@2x.png', class: 'hero-speaker-photo', alt: 'Rodrigo Franco' %>
          <strong class="hero-speaker-name">Rodrigo Franco</strong>
        <% end %>
      </div>
      <div class="hero-speaker">
        <% link_to '/en/schedule/march-7#carlos-antonio', title: "See more about Carlos Antonio's talk." do %>
          <%= image_tag 'event-speaker-carlos@2x.png', class: 'hero-speaker-photo', alt: 'Carlos Antonio' %>
          <strong class="hero-speaker-name">Carlos Antonio</strong>
        <% end %>
      </div>
    </section>

  </article>
</main>
