---
title: Tropical Ruby 2015 — Venue — March 5th to 8th at Porto de Galinhas, Brazil
---

<span class="bkg-watermark"></span>
<main class="venue">
  <h1>Venue</h1>

  <article class="venue-area">
    <blockquote class="quote">
      <a href="http://twitter.com/tropicalrb" target="_blank">@tropicalrb</a> it's Ruby on one of the most beautiful beaches in the world. What more do you need? ;)
      <cite class="quote-author">
        <%= image_tag 'event-speaker-steve@2x.png', class: 'quote-author-image', alt: "Steve Klabnik" %>
        <a href="https://twitter.com/steveklabnik/status/555730605489786881" target="_blank">Steve Klabnik</a>
        <small class="quote-author-title">Ruby Hero</small>
      </cite>
    </blockquote>

    <section class="venue-remarks">
      <header>
        <h2>Remarks</h2>
      </header>
      <div class="remark-item">
        <h3><span class="icon-medium icon-transportation-yellow"></span>Transportation is included</h3>
        <p>Tropical Ruby will provide nice and confortable buses to all attendees at the days of conference (<strong>March 6th &amp; 7th</strong>). It’ll depart at early morning and trips directly to the event. The journey back will be after the conference, at night. <a href="/en/schedule/march-5">See more</a>.</p>
      </div>
      <div class="remark-item">
        <h3><span class="icon-medium icon-bed-yellow"></span>Where to spend the nights</h3>
        <p>There are a lot of lodging options in Recife and Porto de Galinhas, from luxurious resorts to simple bed &amp; breakfast hotels. If you need help about accomodations, please send an e-mail to the conference official travel agency: <a href="mailto:eventos@pontestur.com.br" target="_blank">eventos@pontestur.com.br</a></p>
      </div>
      <div class="remark-item">
        <h3><span class="icon-medium icon-food"></span>Where to find great food</h3>
        <p><a href="http://www.ponteshoteis.com.br/summerville-resort/" target="_blank">Summerville</a> have a restaurant near the auditory room where you can buy a lunch. Alternatively, you can have all kind of meals in Porto de Galinhas, from regional to fast food. Don't forget to taste our famous <em>escondidinho de charque</em> and the typical <em>carne-de-sol</em>.</p>
      </div>
      <div class="remark-item">
        <h3><span class="icon-medium icon-beachball"></span>Prepare for a sunny weather</h3>
        <p>It is always hot in this region of Brazil, so expect a warm weather with temperatures between 72 ºF and 86 ºF (22 ºC and 30ºC), high humidity and occasional rain. Remember to bring sunscreen and protective accessories such as sunglasses and hat.</p>
      </div>
    </section>

    <section class="venue-about">
      <header>
        <h2>About</h2>
      </header>
      <div class="venue-about-text">
        <a class="venue-porto-map" href="https://goo.gl/maps/E471r" target="_blank">
          <%= image_tag 'venue-map@2x.png', alt: 'Map explaining the distance between Recife, Porto de Galinhas and Summerville Beach Resort.' %>
        </a>
        <p>Until a few years ago, Porto was an anonymous small village of fishermen, but nowadays it is one of the most important tourist destinations in Brazil, being elected ten times in a row the best beach of the country. In spite of that, the village is still small and it managed to keep its distinctive rustic fishermen architecture.</p>
        <div class="venue-porto-photo">
          <%= image_tag 'venue-porto@2x.png', alt: "A photo of Porto de Galinhas' natural pools." %>
        </div>
        <p>The beach line is 11 mi long, all with white, fine grained, clean sand. There is a chain of millenary reefs lining all along the coast. During the lower tide, the water trapped by the reefs form several natural pools where people can swim, dive and feed the fishes in an average water temperature of 78 °F for the year.</p>
        <div class="venue-recife-photo">
          <%= image_tag 'venue-recife@2x.png', alt: "A photo of Recife at night." %>
        </div>
        <h3>Pernambuco, Recife &amp; Olinda</h3>
        <p>Besides Porto de Galinhas, there are a lot of things to do in the state of Pernambuco. The capital, Recife, has a lot of tourist attractions and a rich culture, that you can experience in the form of its very own type of music, dance, food and art. Next to Recife, there is Olinda, a city founded in 1535, that currently has a gorgeous historic downtown—considered a world heritage site—full of beautiful churches and museums.</p>
        <h4>The Tech Ecosystem</h4>
        <p>Recife is a key-city of the northeast and one of the five major metropolitan areas in Brazil. Here, we have a vibrant technology ecosystem, from the enterprisey Porto Digital, a tech hub that has offices of companies such as Accenture, IBM, HP, Microsoft, Nokia, Samsung and ThoughtWorks, to the trendy Manguezal, the center of our startup scene. Also, there is the Center of Informatics and its great Computer Science program, that brings forth excellent professionals and researchers.</p>
      </div>
    </section>
  </article>
</main>
