---
title: Tropical Ruby 2015 — Local — 5 a 8 de março em Porto de Galinhas, Brasil
---

<span class="bkg-watermark"></span>
<main class="venue">
  <h1>Local</h1>

  <article class="venue-area">
    <blockquote class="quote">
      <a href="http://twitter.com/tropicalrb" target="_blank">@tropicalrb</a> é Ruby numa das mais bonitas praias do mundo. Do que mais você precisa? ;)
      <cite class="quote-author">
        <%= image_tag 'event-speaker-steve@2x.png', class: 'quote-author-image', alt: "Steve Klabnik" %>
        <a href="https://twitter.com/steveklabnik/status/555730605489786881" target="_blank">Steve Klabnik</a>
        <small class="quote-author-title">Ruby Hero</small>
      </cite>
    </blockquote>

    <section class="venue-remarks">
      <header>
        <h2>Notas</h2>
      </header>
      <div class="remark-item">
        <h3><span class="icon-medium icon-transportation-yellow"></span>Transporte está incluso</h3>
        <p>O Tropical Ruby disponibilizará ônibus para todos os participantes no dia da conferência (<strong>6 e 7 de março</strong>). Eles sairão de Recife pela manhã cedo e seguirão diretamente para o evento. A jornada de volta será logo após a conferência, à noite, e retornará aos mesmos locais de partida. <a href="/en/schedule/march-5">Saiba mais</a>.</p>
      </div>
      <div class="remark-item">
        <h3><span class="icon-medium icon-bed-yellow"></span>Onde passar as noites</h3>
        <p>Existem várias opções de hospedagem em Recife e Porto de Galinhas, de resorts luxuosos a pousadas simples. Se você precisar de ajuda com acomodações, por favor envie um e-mail para agência de viagens oficial da conferência: <a href="mailto:eventos@pontestur.com.br" target="_blank">eventos@pontestur.com.br</a></p>
      </div>
      <div class="remark-item">
        <h3><span class="icon-medium icon-food"></span>Onde achar boas refeições</h3>
        <p><a href="http://www.ponteshoteis.com.br/summerville-resort/" target="_blank">O Summerville</a> tem um restaurante perto do auditório, onde você pode comprar seu almoço. Além disso, você pode achar todos os tipos de refeições em Porto de Galinhas, de comida regional a fast food. Não deixe de provar nosso famoso escondidinho de charque e a típica carne-de-sol.</p>
      </div>
      <div class="remark-item">
        <h3><span class="icon-medium icon-beachball"></span>Prepare-se para um clima ensolarado</h3>
        <p>O Nordeste brasileiro é quente o ano inteiro, portanto prepare para temperaturas entre 22 ºC and 30ºC, alta umidade e chuvas ocasionais. Lembre-se de trazer protetor solar e outros acessórios, como óculos de sol e chapéu.</p>
      </div>
    </section>

    <section class="venue-about">
      <header>
        <h2>Sobre</h2>
      </header>
      <div class="venue-about-text">
        <a class="venue-porto-map" href="https://goo.gl/maps/E471r" target="_blank">
          <%= image_tag 'venue-map@2x.png', alt: 'Map explaining the distance between Recife, Porto de Galinhas and Summerville Beach Resort.' %>
        </a>
        <p>Até poucos anos atrás, Porto era uma pequena e desconhecida vila de pescadores, mas atualmente é um dos destinos turísticos mais importantes no Brasil, sendo eleita por dez vezes seguidas a melhor praia do país. Apesar disto, a vila continua pequena, mantendo sua peculiar arquitetura rústica.</p>
        <div class="venue-porto-photo">
          <%= image_tag 'venue-porto@2x.png', alt: "A photo of Porto de Galinhas' natural pools." %>
        </div>
        <p>A praia tem 18 km de comprimento cobertos com areia fina e clara. Há um recife milenar de corais por toda a costa. Durante a maré baixa, a água acumula nos corais, formando piscinas naturais, onde as pessoas podem nadar, mergulhar e alimentar os peixes em uma água sempre morna.</p>
        <div class="venue-recife-photo">
          <%= image_tag 'venue-recife@2x.png', alt: "A photo of Recife at night." %>
        </div>
        <h3>Pernambuco, Recife &amp; Olinda</h3>
        <p>Além de Porto de Galinhas, existem várias coisas para se fazer em Pernambuco. Recife tem diversas atrações turísticas e uma rica cultura, que pode ser vivenciada através de nossa música, dança, culinária e artesanato. Ao lado de Recife fica Olinda, uma cidade fundada em 1535, que conta com um sítio histórico — hoje considerado patrimônio da humanidade — cheio de belas igrejas e museus.</p>
        <h4>O Ecossistema Tecnológico</h4>
        <p>Recife é uma cidade-chave do Nordeste e uma das cinco maiores áreas metropolitanas do Brasil. Aqui, temos um vibrante ecossistema de tecnologia, desde o conhecido Porto Digital, polo tecnológico que conta com empresas importantes, como a Accenture, IBM, HP, Microsoft, Nokia, Samsung e ThoughtWorks, ao recente Manguezal, o centro do nosso cenário de startups. Também contamos com o Centro de Informática e seu conceituado curso de Ciência da Computação, que alimenta o mercado com excelentes profissionais e pesquisadores.</p>
      </div>
    </section>
  </article>
</main>
