---
title: Tropical Ruby 2015 — Videos — 5 a 8 de março em Porto de Galinhas, Brasil
---

<main class="videos">
  <h1>Veja as Palestras!</h1>

  <section class="videos-area">
    <header>
      <h2>Videos</h2>
    </header>

    <div class="row">
      <article class="video-content"></article>
      <article class="video-content"></article>
      <article class="video-content"></article>
    </div>
  </section>
</main>
