---
title: Tropical Ruby 2015 — Videos — March 5th to 8th at Porto de Galinhas, Brazil
---

<main class="videos">
  <h1>Watch the Talks!</h1>

  <section class="videos-area">
    <header>
      <h2>Videos</h2>
    </header>

    <div class="row">
      <article class="video-content"></article>
      <article class="video-content"></article>
      <article class="video-content"></article>
    </div>
  </section>
</main>
