---
title: Tropical Ruby 2015 — Videos — 5 a 8 de março em Porto de Galinhas, Brasil
---

<main class="videos">
  <h1>Veja as Palestras!</h1>

  <section class="videos-area">
    <header>
      <h2>Videos</h2>
      <div class="video-subtitle">
        <small>
          Mais vídeos vêm por aí em <strong>18 de maio</strong>. Fique ligado!
        </small>
      </div>
    </header>

    <div class="row">
      <article class="video-content">
        <div class="video-embed embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="//www.youtube.com/embed/nT9xMoNt9S0?rel=0&amp;showinfo=0" allowfullscreen></iframe>
          <iframe src="//www.youtube.com/embed/k17WQEnsHS4?rel=0&amp;showinfo=0" allowfullscreen></iframe>
        </div>
        <h3>A Alma do Software</h3>
        <div class="video-description">
          <div class="video-description-left">
            <%= image_tag 'event-speaker-avdi@2x.png', class: 'author-image' %>
          </div>
          <div class="video-description-right">
            <h4 class="video-author">
              <a role="button" target="_blank" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" tabindex="0" data-content="<h5>A mente por trás do RubyTapas.com, autor de Confident Ruby e um Ruby Rogue</h5><a class='twitter' href='http://twitter.com/avdi' target='_blank'></a><a class='web' href='http://rubytapas.com' target='_blank'></a>">Avdi Grimm</a>
            </h4>
            <br>
            <time class="video-time">March 7<span>th</span></time>
          </div>
        </div>
      </article>
      <article class="video-content">
        <div class="video-embed embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="//www.youtube.com/embed/nT9xMoNt9S0?rel=0&amp;showinfo=0" allowfullscreen></iframe>
          <iframe src="//www.youtube.com/embed/k17WQEnsHS4?rel=0&amp;showinfo=0" allowfullscreen></iframe>
        </div>
        <h3>A Alma do Software</h3>
        <div class="video-description">
          <div class="video-description-left">
            <%= image_tag 'event-speaker-avdi@2x.png', class: 'author-image' %>
          </div>
          <div class="video-description-right">
            <h4 class="video-author">
              <a role="button" target="_blank" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" tabindex="0" data-content="<h5>A mente por trás do RubyTapas.com, autor de Confident Ruby e um Ruby Rogue</h5><a class='twitter' href='http://twitter.com/avdi' target='_blank'></a><a class='web' href='http://rubytapas.com' target='_blank'></a>">Avdi Grimm</a>
            </h4>
            <br>
            <time class="video-time">March 7<span>th</span></time>
          </div>
        </div>
      </article>
    </div>

  </section>
</main>
