/*––––––––––––––––––––––––––––––––––––––––––––––––––
      Body
––––––––––––––––––––––––––––––––––––––––––––––––––*/

body { @include titillium-web; }

body.index {
  color: $poly-11;
  background-color: $poly-07;
  background-position: top center;
  background-repeat: no-repeat;

  @media (max-width: $screen-xs-max) {
    background-image: image-url('bkg-sunrise-xs.jpg');
  }
  @media (min-width: $screen-sm-min) and (max-width: 1440px) {
    background-image: image-url('bkg-sunrise-lg.jpg');
  }
  @media (min-width: 1441px) {
    background-image: image-url('bkg-sunrise-xlg.jpg');
  }

  a { color: $poly-11; }
  hr { border-top-color: $poly-11; }
}

body.schedule {
  color: $mono-10;
  background-color: $poly-01;
  background-position: top center;
  background-repeat: repeat-y;
  background-size: 100% auto;

  @media (max-width: $screen-xs-max) {
    background-image: image-url('bkg-waterworld-xs.jpg');
  }
  @media (min-width: $screen-sm-min) and (max-width: 1440px) {
    background-image: image-url('bkg-waterworld-lg.jpg');
  }
  @media (min-width: 1441px) {
    background-image: image-url('bkg-waterworld-xlg.jpg');
  }

  a { color: $mono-10; }
  hr { border-top-color: $mono-10; }
}

body.sponsors {
  color: $mono-04;
  background-color: $mono-09;

  @media (max-width: $screen-xs-max) { background-image: image-url('bkg-whitesand-xs.jpg'); }
  @media (min-width: $screen-sm-min) { background-image: image-url('bkg-whitesand-xlg.jpg'); }

  a { color: $mono-04; }
  hr { border-top-color: $mono-04; }
}

body.code-of-conduct,
body.colophon {
  @include titillium-web-light;
  color: $poly-11;
  background-color: $poly-07;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: $screen-xs-max) { background-image: image-url('bkg-fire-xs.jpg'); }
  @media (min-width: $screen-sm-min) {
    // This causes flickering to the background. Oh god why?!
    // background-image: image-url('bkg-fire-lg.jpg'), linear-gradient(to bottom, transparentize($poly-09,1) 0%, $poly-09 70%, $poly-09 100%);
    background-image: image-url('bkg-fire-lg.jpg');
  }

  a { color: $poly-11; }
  hr { border-top-color: $poly-11; }
}

body.venue {
  color: $text-color;
  background-color: $mono-10;

  @media (max-width: $screen-xs-max) { }
  @media (min-width: $screen-sm-min) { }

  hr { border-top-color: $text-color; }
}
