/*––––––––––––––––––––––––––––––––––––––––––––––––––
      Footer
––––––––––––––––––––––––––––––––––––––––––––––––––*/

.footer {
  @extend .motion-fade-in;
  position: relative;
  text-align: center;
  overflow: hidden;

  .brands {
    .gold { @include make-xs-column(12); }
    .silver { @include make-xs-column(12); }

    .organizers {
      @include make-xs-column(12);
      @include make-sm-column(5);
      @include make-sm-column-offset(1);
      @include make-md-column(6);
      @include make-md-column-offset(1);
      @include make-lg-column(5);
      @include make-lg-column-offset(2);
    }

    .advisory {
      @include make-xs-column(12);
      @include make-sm-column(5);
      @include make-md-column(4);
      @media (min-width: $screen-lg-min) { padding: 0 60px 0 0; }
    }
  }

  .copy {
    .column {
      @include make-xs-column(12);
      @include make-sm-column(6);
    }
  }

  .guava-signature ~ a {
    display: inline-block;
    margin-top: 8px; }
}

body.schedule,
body.venue,
body.sponsors,
body.code-of-conduct,
body.colophon {
  .footer { padding-bottom: 50px; }
}

/*... Scaffolding ...*/

.footer-title {
  @include titillium-web-light;
  position: relative;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  text-transform: uppercase;
  z-index: 3;

  &:before,
  &:after {
    @include size(48px, 1px);
    position: absolute;
    top: 8px;
    content: '';
  }

  &:before { left: -60px; }
  &:after  { right: -60px; }
}

body.index,
body.code-of-conduct,
body.colophon {
  .footer-title {
    &:before,
    &:after { background-color: $poly-11; }
  }
}

body.schedule {
  .footer-title {
    &:before,
    &:after { background-color: $mono-10; }
  }
}

/*... Footer's Brands ...*/

.footer {
  .brands {
    a {
      display: inline-block;
      margin-right: 20px;
      margin-left: 20px;
      text-indent: -9999px;
      vertical-align: middle;
      z-index: 1;
    }

    .gold {
      a {
        @include size(240px, 130px);
        background-size: 240px 130px;
        margin-top: -15px;
      }
    }

    .silver {
      a {
        @include size(150px, 100px);
        background-size: 150px 100px;
        margin-top: -5px;
      }
    }

    .organizers, .advisory {
      a {
        @include size(98px, 55px);
        background-size: 98px 55px;
      }

      .footer-brands {
        margin-top: 10px;

        @media (max-width: $screen-xs-max) { margin-bottom: 30px; }
        @media (min-width: $screen-sm-min) { margin-bottom: 20px; }
      }
    }

    .organizers {
      margin-top: 15px;

      @media (min-width: $screen-sm-min) { margin-top: 10px; }
    }

    .advisory {
      margin-top: 0;

      @media (min-width: $screen-sm-min) { margin-top: 10px; }
    }
  }
}

body.index,
body.code-of-conduct,
body.colophon {
  .footer-brands {
    .engine-yard      { background-image: image-url('brand-big-engineyard-red@2x.png'); }
    .nic              { background-image: image-url('brand-big-nic-red@2x.png'); }
    .github           { background-image: image-url('brand-med-github-red@2x.png'); }
    .tempest          { background-image: image-url('brand-med-tempest-red@2x.png'); }
    .cers             { background-image: image-url('brand-med-cers-red@2x.png'); }
    .guava-software   { background-image: image-url('brand-small-guava-red@2x.png'); }
    .eloquent-studio  { background-image: image-url('brand-small-eloquent-red@2x.png'); }
    .frevo-on-rails   { background-image: image-url('brand-small-for-red@2x.png'); }
    .ruby-central-inc { background-image: image-url('brand-small-rubycentral-red@2x.png'); }
    .impact-hub       { background-image: image-url('brand-small-impacthub-red@2x.png'); }
  }
}

body.schedule {
  .footer-brands {
    .engine-yard      { background-image: image-url('brand-big-engineyard-white@2x.png'); }
    .nic              { background-image: image-url('brand-big-nic-white@2x.png'); }
    .github           { background-image: image-url('brand-med-github-white@2x.png'); }
    .tempest          { background-image: image-url('brand-med-tempest-white@2x.png'); }
    .cers             { background-image: image-url('brand-med-cers-white@2x.png'); }
    .guava-software   { background-image: image-url('brand-small-guava-white@2x.png'); }
    .eloquent-studio  { background-image: image-url('brand-small-eloquent-white@2x.png'); }
    .frevo-on-rails   { background-image: image-url('brand-small-for-white@2x.png'); }
    .ruby-central-inc { background-image: image-url('brand-small-rubycentral-white@2x.png'); }
    .impact-hub       { background-image: image-url('brand-small-impacthub-white@2x.png'); }
  }
}

body.venue {
  .footer-brands {
    .engine-yard      { background-image: image-url('brand-big-engineyard-yellow@2x.png'); }
    .nic              { background-image: image-url('brand-big-nic-yellow@2x.png'); }
    .github           { background-image: image-url('brand-med-github-yellow@2x.png'); }
    .tempest          { background-image: image-url('brand-med-tempest-yellow@2x.png'); }
    .cers             { background-image: image-url('brand-med-cers-yellow@2x.png'); }
    .guava-software   { background-image: image-url('brand-small-guava-yellow@2x.png'); }
    .eloquent-studio  { background-image: image-url('brand-small-eloquent-yellow@2x.png'); }
    .frevo-on-rails   { background-image: image-url('brand-small-for-yellow@2x.png'); }
    .ruby-central-inc { background-image: image-url('brand-small-rubycentral-yellow@2x.png'); }
    .impact-hub       { background-image: image-url('brand-small-impacthub-yellow@2x.png'); }
  }
}

/*... Copyright ...*/

.copy {
  @include titillium-web-light;
  margin-top: 20px;

  p {
    font-size: 14px;
    line-height: 22px;

    span {
      margin-right: 8px;
      margin-left: 8px;
    }
  }

  hr { margin-top: 10px; }

  .footer-title {
    margin-bottom: 10px;
    line-height: 22px;

    &:before,
    &:after { display: none; }
  }

  .column {
    &:nth-child(1) {
      @media (min-width: $screen-sm-min) { text-align: right; }
    }

    &:nth-child(2) {
      @media (min-width: $screen-sm-min) { text-align: left; }
    }
  }
}

/*... Index Footer — Background Graphics ...*/

body.index {
  .footer {
    padding-bottom: 370px;

    @media (max-width: $screen-sm-max) {
      @include gradient-vertical-three-colors(transparentize($poly-08,1), $poly-08, 45%, $poly-08);
    }
    @media (min-width: $screen-sm-min) { padding-bottom: 200px; }
    @media (min-width: $screen-md-min) {
      @include gradient-vertical-three-colors(transparentize($poly-08,1), $poly-08, 91%, $poly-08);
    }
    @media (min-width: $screen-lg-min) { padding-bottom: 180px; }

    .coconut {
      @include size(266px, 350px);
      position: absolute;
      left: -108px;
      background-image: image-url('bkg-coconut-left@2x.png');
      background-size: 266px 350px;

      @media (max-width: $screen-xs-max) { bottom: 24px; }
      @media (min-width: $screen-sm-min) { bottom: 70px; }
      @media (min-width: $screen-lg-min) { left: -60px; }
    }

    .sea {
      @include size(100%, 202px);
      position: absolute;
      bottom: -138px;
      right: 158px;
      background-image: image-url('bkg-wave-tileable@2x.png');
      background-position: right top;
      background-size: 520px 200px;

      @media (min-width: $screen-sm-min) {
        bottom: -90px;
        right: 142px;
      }

      @media (min-width: $screen-lg-min) { right: 230px; }
    }

    .wave {
      @include size(230px, 447px);
      position: absolute;
      background-image: image-url('bkg-wave-right@2x.png');
      background-size: 230px 447px;

      @media (max-width: $screen-xs-max) {
        right: -72px;
        bottom: -136px;
      }

      @media (min-width: $screen-sm-min) {
        right: -88px;
        bottom: -88px;
      }

      @media (min-width: $screen-lg-min) { right: 0; }
    }
  }
}

body.sponsors {
  .footer {
    .brands { display: none; }
  }
}
