// ——————————————————
//  Animation social links
// ——————————————————

%rotate {
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  -webkit-animation-timing-function: linear;
  -webkit-animation-play-state: paused;

  -moz-animation-name: rotate;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: normal;
  -moz-animation-timing-function: linear;
  -moz-animation-play-state: paused;

  -ms-animation-name: rotate;
  -ms-animation-duration: 5s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-direction: normal;
  -ms-animation-timing-function: linear;
  -ms-animation-play-state: paused;

  -o-animation-name: rotate;
  -o-animation-duration: 5s;
  -o-animation-iteration-count: infinite;
  -o-animation-direction: normal;
  -o-animation-timing-function: linear;
  -o-animation-play-state: paused;

  animation-name: rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-play-state: paused;
}

%start-rotate {
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -ms-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;
}

%transition {
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

@keyframes rotate {
  from { @include rotate(0deg); }
  to { @include rotate(720deg); }
}

@-webkit-keyframes rotate {
  from { @include rotate(0deg); }
  to { @include rotate(720deg); }
}

@-moz-keyframes rotate {
  from { @include rotate(0deg); }
  to { @include rotate(720deg); }
}

@-ms-keyframes rotate {
  from { @include rotate(0deg); }
  to { @include rotate(720deg); }
}

@-o-keyframes rotate {
  from { @include rotate(0deg); }
  to { @include rotate(720deg); }
}


// ——————————————————
// Animation tap coconut
// ——————————————————

@keyframes coconut {
  0% { @include rotate(0deg); }
  25% { @include rotate(5deg); }
  50% { @include rotate(-5deg); }
  100% { @include rotate(0deg); }
}

@-webkit-keyframes coconut {
  0% { @include rotate(0deg); }
  25% { @include rotate(5deg); }
  50% { @include rotate(-5deg); }
  100% { @include rotate(0deg); }
}

@-moz-keyframes coconut {
  0% { @include rotate(0deg); }
  25% { @include rotate(5deg); }
  50% { @include rotate(-5deg); }
  100% { @include rotate(0deg); }
}

@-ms-keyframes coconut {
  0% { @include rotate(0deg); }
  25% { @include rotate(5deg); }
  50% { @include rotate(-5deg); }
  100% { @include rotate(0deg); }
}

@-o-keyframes coconut {
  0% { @include rotate(0deg); }
  25% { @include rotate(5deg); }
  50% { @include rotate(-5deg); }
  100% { @include rotate(0deg); }
}
