// ——————————————————
//  Components Styles
// ——————————————————


// ——————————————————
//  Buttons
// ——————————————————

.btn {
  display: block;
  margin: 0 auto;
  border: none;
  outline: none;
  color: $light;
  font-size: $fs-medium;
  font-family: $ff-general;
  font-weight: $fw-light;
  cursor: pointer;
  text-decoration: none;
  @include bdr(3px);

  &.large {
    width: 280px;
    height: 44px;
  }

  &.small {
    width: 46px;
    height: 44px;
  }

  &.send {
    @include bgimage('icons/icon-small-mail@2x.png');
  }
}

.icon-document {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  display: inline-block;
  margin: -5px 10px 0 0;

  background-image: image-url('icons/icon-small-document@2x.png');
  background-repeat: no-repeat;
  background-size: 16px 16px;
}

.btn-primary {
  background-color: $primary;
  @include transition(all, .2s, linear, 0s);

  &:hover, &:focus {
    @include scale(1.1);
  }

  &:active {
    @include scale(.9);
  }
}


// ——————————————————
//  Huge buttons
// ——————————————————

.btn-huge {
  width: 128px;
  height: 128px;
  border-radius: 100%;
  margin: 37px 15px -30px 15px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  @include transition(backround-image, .2s, linear, 0s);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 128px;
    height: 128px;
    background-image: image-url('diamond-huge@2x.png');
    background-repeat: no-repeat;
    background-size: 128px 128px;
    @extend %transition;
    @extend %rotate;
  }

  &:hover {
    &::before {
      z-index: -1;
      background-image: image-url('diamond-huge-hover@2x.png');
      @extend %start-rotate;
    }

    &.buy-ticket {
      span {
        background-image: image-url('icons/icon-ticket-hover@2x.png');
      }
    }

    &.submit-talk {
      span {
        background-image: image-url('icons/icon-cfp-hover@2x.png');
      }
    }

    .description {
      color: $light;
    }
  }

  a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: $primary;
  }

  span {
    width: 32px;
    height: 32px;
    display: inline-block;
    position: relative;
    left: 0;
    top: 20px;

    background-repeat: no-repeat;
    background-size: 32px 32px;

    @include transition(all, .2s, linear, 0s);
  }

  .description {
    text-align: center;
    font-size: $fs-medium;
    font-family: $ff-general;
    font-weight: $fw-light;
    line-height: $fs-large;
    width: 80%;
    margin-top: 25px;
    margin-left: 15px;
  }

  &.buy-ticket {
    span {
      background-image: image-url('icons/icon-ticket@2x.png');
    }
  }

  &.submit-talk {
    span {
      background-image: image-url('icons/icon-cfp@2x.png');
    }
  }
}


// ——————————————————
//  Social link
// ——————————————————

.social-link {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -9999px;
  text-align: center;
  position: relative;
  z-index: 4;

  &.lanyrd{
    @include bgimage('icons/icon-small-lanyrd@2x.png');
  }

  &.twitter {
    @include bgimage('icons/icon-small-twitter@2x.png');
  }

  &.facebook {
    @include bgimage('icons/icon-small-facebook@2x.png');
  }

  &.github {
    @include bgimage('icons/icon-small-github@2x.png');
  }
}


// ——————————————————
//  @media-queries
// ——————————————————

// iPads
@media (min-width: 768px) {
  .btn-huge {
    top: -270px;

    &.buy-ticket { right: 180px; }
    &.submit-talk { left: 180px; }
  }
}


// Desktops
@media (min-width: 992px) {
  .btn-huge { top: -545px; }
}

@media (min-width: 992px) and (max-width: 1229px) {
  .btn-huge {
    &.buy-ticket { right: 290px; }
    &.submit-talk {
      top: -680px;
      left: 290px;
    }
  }
}


// Large desktops
@media (min-width : 1800px) {
 .btn-huge {
    &.buy-ticket { right: 270px; }
    &.submit-talk { left: 270px; }
 }
}
