// ——————————————————
//  General Styles
// ——————————————————

*,
*:before,
*:after {
   -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

::selection {
  text-shadow: none;
  background: $dark;
  color: $yellow;
}

::-moz-selection {
  text-shadow: none;
  background: $dark;
  color: $yellow;
}

::-webkit-input-placeholder {
 color: $primary;
 text-transform: uppercase;
 text-transform: none;
}

:-moz-placeholder {
  color: $primary;
 text-transform: uppercase;
 text-transform: none;
}

::-moz-placeholder {
  color: $primary;
 text-transform: uppercase;
 text-transform: none;
}

:-ms-input-placeholder {
  color: $primary;
 text-transform: uppercase;
 text-transform: none;
}

html { font-size: $fs-root; }

body {
  width: 100%;
  height: 100%;

  background-image: image-url('bkg-sunrise-xs.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

//
// CFP
//

.cfp {
  top: 0;
  right: 0;
  z-index: 1;

  a {
    display: block;
    width: 100%;
    height: 100%;

    color: white;
    font-family: $ff-general;
    font-size: $fs-medium;
    font-weight: $fw-light;
    text-decoration: none;
    text-align: center;

    .title {
      font-weight: $fw-semi-bold;
      margin-bottom: 0.5em;
    }
  }
}

//
// Header
//

.header-primary {
  margin-top: 40px;
}

.logo-primary {
  width: 200px;
  height: 193px;
  margin: 0 auto;
  display: block;
  text-indent: -999px;

  background-image: image-url('logo-tropical@2x.png');
  background-repeat: no-repeat;
  background-size: 200px 193px;
}

//
// Sections
//

// local
.local-logo {
  width: 300px;
  height: 226px;
  margin: 0 auto 20px auto;
  display: block;

  background-image: image-url('logo-porto@2x.png');
  background-repeat: no-repeat;
  background-size: 300px 226px;
}

.title-info {
  color: $primary;
  font-size: $fs-large;
  font-family: $ff-general;
  font-weight: $fw-semi-bold;
  text-align: center;
  margin-bottom: 10px;
}

.description-info {
  text-align: center;
  font-size: $fs-medium;
  font-family: $ff-general;
  font-weight: $fw-light;
  color: $primary;
  width: 90%;
  line-height: $fs-large;
  display: block;
  margin: 0 auto 15px auto;
}

.event-info {
  .prospectus {
    line-height: 44px;
    text-align: center;
  }
}

//
// Social list
//
.social-list {
  text-align: center;
}

.social-item {
  display: inline-block;
  width: 44px;
  height: 44px;
  margin: 0 5px 0 5px;
  background-image: image-url('icons/diamond-link@2x.png');
  background-repeat: no-repeat;
  background-size: 44px 44px;
  @extend %transition;
  @extend %rotate;

  &:hover {
    background-image: image-url('icons/diamond-link-hover@2x.png');
    @extend %start-rotate;

    .social-link {
      &.lanyrd{
        background-image: image-url('icons/icon-small-lanyrd-hover@2x.png');
      }

      &.twitter {
        background-image: image-url('icons/icon-small-twitter-hover@2x.png');
      }

      &.facebook {
        background-image: image-url('icons/icon-small-facebook-hover@2x.png');
      }

      &.github {
        background-image: image-url('icons/icon-small-github-hover@2x.png');
      }
    }
  }
}

.social-link {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -9999px;
  text-align: center;
  @include transition(all, .3s, ease, .1s);

  &.lanyrd{
    @include bgimage('icons/icon-small-lanyrd@2x.png');
  }

  &.twitter {
    @include bgimage('icons/icon-small-twitter@2x.png');
  }

  &.facebook {
    @include bgimage('icons/icon-small-facebook@2x.png');
  }

  &.github {
    @include bgimage('icons/icon-small-github@2x.png');
  }
}

//
// Past events
//
.past-events {
  text-align: center;
}

.past-event-item {
  display: inline-block;
  position: relative;

  &:nth-child(1) {
    &::before {
      @extend %circle;
    }
  }

  &:nth-child(2) {
    &::before {
      @extend %circle;
    }
  }
}

.past-event-link {
  color: $primary;
  font-size: $fs-medium;
  font-family: $ff-general;
  font-weight: $fw-light;
  margin: 15px 15px 20px 15px;
  display: block;
}

//
// Talks
//
.talks {
  margin: 60px 0;
  display: block;
  text-align: center;
}

.talks-item {
  display: inline-block;
  text-align: center;
  margin-top: 30px;
  vertical-align: top;
  width: 40%;
  min-height: 180px;

  &:nth-child(odd) {
    margin-right: 30px;
  }
}

.talks-link {
  width: 100%;
  height: 100%;
  display: block;
  text-decoration: none !important;
}

.talks-image {
  width: 123px;
  height: 123px;
  background-size: 123px 123px;
  background-repeat: no-repeat;

  &.avdi {
    background-image: image-url('talks/avatar-medium-avdi@2x.png');
  }

  &.nick {
    background-image: image-url('talks/avatar-medium-nick@2x.png');
  }
}

.talks-title {
  font-family: $ff-general;
  font-weight: $fw-semi-bold;
  font-size: $fs-medium;
  color: $primary;
  margin: 5px 0 10px 0;
}

.talks-info {
  font-size: $fs-small;
  color: $primary;
  font-family: $ff-general;
  font-weight: $fw-light;
}

.organization {
  text-align: center;
  .title {
    text-transform: uppercase;
    color: $primary;
    font-size: $fs-small;
    text-align: center;
    font-family: $ff-general;
    font-weight: $fw-light;
    position: relative;
    margin-bottom: 10px;

    &::after {
      @extend %title-bar;
      margin-left: 12px;
    }

    &::before {
      @extend %title-bar;
      margin-right: 12px;
    }
  }
}

// Brands
.organized {
  margin-bottom: 25px;
}

.brand {
  width: 130px;
  height: 100px;
  margin: 0 auto;
  display: inline-block;

  &.block {
    display: block;
  }
}

.brand-link {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -9999px;

  &.frevo {
    display: block;
    margin: 0 auto;
    background-image: image-url('brands/brand-mono-medium-frevo@2x.png');
    background-repeat: no-repeat;
    background-size: 130px 100px;
  }

  &.guava {
    background-image: image-url('brands/brand-mono-medium-guava@2x.png');
    background-repeat: no-repeat;
    background-size: 130px 100px;
  }

  &.eloquent {
    background-image: image-url('brands/brand-mono-medium-eloquent@2x.png');
    background-repeat: no-repeat;
    background-size: 130px 100px;
  }

  &.ruby-central {
    background-image: image-url('brands/brand-mono-medium-rubycentral@2x.png');
    background-repeat: no-repeat;
    background-size: 130px 100px;
  }
}

// Footer
.footer-primary {
  position: relative;
  bottom: 0;
}

//
// Hit area for tap in coconut
//

.tap {
  z-index: 9;
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 230px;
}

.coconut {
  width: 265px;
  height: 350px;
  position: relative;
  bottom: 0;
  left: -105px;

  background-image: image-url('bkg-coconut-left@2x.png');
  background-repeat: no-repeat;
  background-size: 265px 350px;
}

.coco {
  width: 15px;
  top: 125px;
  left: 40px;
  height: 15px;
  position: absolute;
  opacity: 0;
  background-color: #2C97A4;

  @include bdr(100%);
  @include transition(top, 1s, linear, 0s);
}

.drop {
  opacity: 1;
  top: 100%;
}

.move {
  @include animation(coconut .8s);
}

//
// Center wave
//
.wave {
  width: 50%;
  position: absolute;
  height: 200px;
  bottom: -20px;
  background-image: image-url('bkg-wave-tileable@2x.png');
  background-repeat: repeat-x;
  background-position: bottom right;
  background-size: 520px 200px;

  // @extend %continuos;
}

//
// Right wave
//
.swell {
  width: 230px;
  height: 447px;
  position: absolute;
  right: -70px;
  bottom: -20px;

  background-image: image-url('bkg-wave-right@2x.png');
  background-repeat: no-repeat;
  background-size: 230px 447px;
}

// EXTRA SMALL
@media only screen and (max-width : 767px) {
  body {
    padding-top: 70px;
    background-position: center 70px;
  }

  .cfp {
    position: absolute;
    width: 100%;
    height: 70px;

    a {
      background-color: $red;
      padding: 0.75em;
      width: 100%;

      .title {
        margin-bottom: 0.25em;

        br { display: none; }
      }
    }
  }
}


// SMALL DEVICES AND GREATER
@media only screen and (min-width : 768px) {
  .cfp {
    position: fixed;
    width: 170px;
    height: 170px;

    background-size: 100%;
    background-image: image-url('bkg-cfp@2x.png');

    a {
      display: block;
      width: 100%;
      height: 100%;
      padding: 0.25em;

      color: white;
      font-family: $ff-general;
      font-size: $fs-medium;
      font-weight: $fw-light;
      text-decoration: none;
      text-align: center;

      transform: rotate(45deg);

      .title {
        font-weight: $fw-semi-bold;
        margin-bottom: 0.5em;
      }
    }
  }
}

// IPAD
@media only screen and (min-width : 768px) and (max-width : 1223px) {
  body {
    background-image: image-url('bkg-sunrise-lg.jpg');
    background-position: center top;
    background-size: cover;
  }

  .header-primary {
    margin-top: 10px;
  }

  .logo-primary {
    width: 280px;
    height: 270px;
    background-size: 280px 270px;
  }

  .title-info,
  .description-info,
  .social-list,
  .past-events,
  .form-send-email {
    text-align: right;
    margin-right: 15px;
  }

  .description-info {
    width: 90%;
  }

  .title-talk,
  .talks-list {
    text-align: left;
    margin-left: 15px;
  }

  .talks {
    margin: 0;
  }

  .talks-item {
    margin: 0 0 10px 0;
    display: block;
    width: 90%;
    text-align: left;
    min-height: 120px;
  }

  .talks-title {
    display: inline-block;
    vertical-align: middle;
  }

  .talks-image {
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
  }

  .box-info {
    display: inline-block;
    vertical-align: middle;
  }

  // Brands
  .organization {
    position: absolute;
    left: 50%;
    margin-left: -235px;
    z-index: 10;
  }

  .brand {
    margin-right: 25px;

    &.block {
      display: inline-block;
    }
  }

  // Footer
  .coconut {
    bottom: 0;
    left: -109px;
  }

  .coco {
    left: 37px;
  }

  .wave {
    width: 83%;
    bottom: -68px;
  }

  .swell {
    right: -50px;
    bottom: -82px;
  }
}

// DESKTOP
@media only screen and (min-width : 1224px) {
  body {
    background-image: image-url('bkg-sunrise-lg.jpg');
    background-size: cover;
  }

  .header-primary {
    margin-top: 10px;
  }

  .logo-primary {
    width: 280px;
    height: 270px;
    background-size: 280px 270px;
  }

  .local-logo {
    margin-bottom: 15px;
  }

  .title-info,
  .description-info,
  .social-list,
  .past-events,
  .form-send-email {
    text-align: right;
   }

  .description-info {
    width: 80%;
    margin-right: 0;
  }

  .title-talk,
  .talks-list {
    text-align: left;
   }

  .talks {
    margin: 0;
  }

  .talks-item {
    margin: 0 0 10px 0;
    display: block;
    width: 90%;
    text-align: left;
    min-height: 120px;
   }

  .talks-title {
    display: inline-block;
    vertical-align: middle;
  }

  .talks-image {
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
  }

  .box-info {
    display: inline-block;
    vertical-align: middle;
  }

  // Brands
  .organization {
    text-align: center;
    margin-top: 70px;
    position: absolute;
    left: 50%;
    margin-left: -320px;
    z-index: 10;
  }

  .organized {
    min-width: 300px;
    margin-right: 100px;
    display: inline-block;
    vertical-align: top;
  }

  .support {
    min-width: 300px;
    display: inline-block;
    vertical-align: top;
  }

  // Footer
  .coconut {
    bottom: 0;
    left: -75px;
  }

  .coco {
    left: 70px;
  }

  .wave {
    width: 89%;
    bottom: -71px;
  }

  .swell {
    right: -80px;
    bottom: -74px;
  }
}

// LARGE
@media only screen and (min-width : 1824px) {
  body {
    background-image: image-url('bkg-sunrise-lg.jpg');
    background-size: cover;
  }

  .local-logo {
    margin-bottom: 16px;
  }

  .title-info,
  .description-info,
  .social-list,
  .past-events,
  .form-send-email {
    text-align: right;
  }

  .description-info {
    width: 80%;
    margin-right: 0;
  }

  .title-talk,
  .talks-list {
    text-align: left;
  }

  .talks {
    margin-top: 0;
  }

  .talks-item {
    margin: 0 0 10px 0;
    display: block;
    width: 90%;
    text-align: left;
    min-height: 120px;
  }

  .talks-title {
    display: inline-block;
    vertical-align: middle;
  }

  .talks-image {
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
  }

  .box-info {
    display: inline-block;
    vertical-align: middle;
  }

}
