// ——————————————————
// Structure
// ——————————————————

.header-primary {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.content {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  flex-flow: column;
}

.event-info {
  width: 100%;

  &:nth-child(1) {
    @extend %order2;
  }

  &:nth-child(2) {
    @extend %order1;
    margin-bottom: 60px;
  }

  &:nth-child(3) {
    @extend %order3;
  }
}

.main {
  z-index: 10;
}

.organization {
  position: relative;
  height: auto;
  min-height: 950px;
  z-index: 10;
  flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
}

.footer-primary {
  @include linear-gradient-control(180deg, transparentize($yellow2-rgb,1), 0, $yellow2-rgb, 60%);
  width: 100%;
  height: 474px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  z-index: 0;
}


// iPads - SM
@media only screen and (min-width : 768px) and (max-width : 1223px) {
  .content {
    display: -webkit-box;
    display: -moz-box;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .event-info {
    height: 330px;
    &:nth-child(1) {
      width: 50%;
      -webkit-order: 2;
      order: 2;
    }

    &:nth-child(2) {
      width: 100%;
      margin-bottom: 0;
      -webkit-order: 1;
      order: 1;
    }

    &:nth-child(3) {
      width: 50%;
      -webkit-order: 3;
      order: 3;
    }
  }

  .organization {
    min-height: 550px;
    margin-bottom: -400px;
  }

  .footer-primary {
    background-image: none;
    position: relative;
    height: 427px;
  }
}


// Medium Desktops - MD
@media only screen and (min-width : 1224px) {
  .content {
    display: -webkit-box;
    display: -moz-box;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .event-info {
    height: 330px;

    &:nth-child(1) {
      flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;

      -webkit-order: 1;
      order: 1;
    }

    &:nth-child(2) {
      flex: .7;
      margin-bottom: 0;
      -webkit-flex: .7;
      -ms-flex: .7;

      -webkit-order: 2;
      order: 2;
    }

    &:nth-child(3) {
      flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;

      -webkit-order: 3;
      order: 3;
    }
  }

  .organization {
    margin-top: 70px;
    min-height: 500px;
  }

  .footer-primary {
    background-image: none;
    height: 435px;
  }
}


// Large Desktops - LG
@media only screen and (min-width : 1824px) {
  .footer-primary {
    position: absolute;
  }
}
