// Order layout
%order1 {
  -webkit-order: 1;
  order: 1;
}

%order2 {
  -webkit-order: 2;
  order: 2;
}

%order3 {
  -webkit-order: 3;
  order: 3;
}

%title-bar {
  content: '';
  width: 50px;
  height: 1px;
  background-color: $primary;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

// Circle of years
%circle {
  content: '';
  width: 5px;
  height: 5px;
  background-color: $primary;
  position: absolute;
  top: 21px;
  right: -5px;
  @include bdr(100%);
}
