/*––––––––––––––––––––––––––––––––––––––––––––––––––
      Index
––––––––––––––––––––––––––––––––––––––––––––––––––*/

.hero {
  @extend .container;
  position: relative;

  article { @include make-xs-column(12); }

  @media (max-width: 767px) {
    padding-top: 275px;
    text-align: center;
  }

  @media (min-width: 768px) { padding-top: 270px; }
  @media (max-width: 991px) { margin-bottom: 40px; }
}

/*... Scaffolding ...*/

.hero-logo {
  position: absolute;
  left: 50%;
  text-indent: -9999px;
  background-image: image-url('logo-tropical@2x.png');

  @media (max-width: 767px) {
    @include size(220px,212px);
    background-size: 220px 212px;
    margin: 0 auto 0 -110px;
    top: 34px;
  }

  @media (min-width: 768px) {
    @include size(234px,226px);
    background-size: 234px 226px;
    margin: 0 auto 0 -118px;
    top: 3px;
  }
}

.hero-data {
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  text-indent: -9999px;

  @media (max-width: 480px) { margin-bottom: 45px; }
  @media (min-width: 481px) { margin-bottom: 40px; }

  @media (max-width: 767px) {
    @include size(258px, 211px);
    background-image: image-url('logo-porto-vert@2x.png');
    background-size: 258px 211px;
  }

  @media (min-width: 768px) {
    @include size(531px, 155px);
    background-image: image-url('logo-porto-horiz@2x.png');
    background-size: 531px 155px;
  }
}

.hero-about {
  @include make-xs-column(12);
  @include make-sm-column(6);
  margin-bottom: 0;

  @media (min-width: 768px) { text-align: right; }

  @media (min-width: 1200px) {
    p {  padding-left: 130px; }
  }
}

.hero-advantages {
  @include list-unstyled;
  margin-bottom: 40px;

  @media (min-width: 768px) { text-align: right; }

  li {
    position: relative;
    height: 24px;
    line-height: 24px;

    @media (min-width: 992px) {
      display: inline-block;
      margin-left: 10px;
    }

    &:before {
      @include square(24px);
      display: inline-block;
      margin-right: 5px;
      margin-bottom: -6px;
      background-size: 24px;
      content: '';
    }

    &:first-child {
      @media (max-width: 991px) { margin-bottom: 5px; }
      &:before { background-image: image-url('icon-med-translation-red@2x.png'); }
    }

    &:last-child {
      &:before { background-image: image-url('icon-med-transportation-red@2x.png'); }
    }
  }
}

.hero-social {
  @include make-xs-column(12);
  @include make-sm-column(6);

  ul {
    @include list-unstyled;
    @include clearfix();

    @media (max-width: 767px) {
      width: 289px;
      margin-right: auto;
      margin-bottom: 40px;
      margin-left: auto;
      padding-right: 2px;
      text-align: center;
    }

    @media (min-width: 768px) { margin-bottom: 20px; }

    @media (min-width: 768px) and (max-width: 991px) {
      margin-bottom: 36px;
      padding-top: 30px;
    }

    li {
      @media (max-width: 767px) { display: inline-block; }
      @media (min-width: 768px) { float: left; }

      a {
        @include square(44px);
        @extend .hvr-wobble-vertical;
        position: relative;
        display: block;
        text-indent: -9999px;
        background-image: image-url('octagon-small-red@2x.png');
        background-size: 44px;

        @media (max-width: 767px) {
          margin-right: 5px;
          margin-left: 5px;
        }

        @media (min-width: 768px) { margin-right: 12px; }

        &:before {
          @include square(22px);
          position: absolute;
          top: 50%;
          left: 50%;
          display: block;
          margin-top: -11px;
          margin-left: -11px;
          background-size: 22px;
          content: '';
        }

        &.email:before { background-image: image-url('icon-small-contact-red@2x.png'); }
        &.facebook:before { background-image: image-url('icon-small-facebook-red@2x.png'); }
        &.github:before { background-image: image-url('icon-small-github-red@2x.png'); }
        &.lanyrd:before { background-image: image-url('icon-small-lanyrd-red@2x.png'); }
        &.twitter:before { background-image: image-url('icon-small-twitter-red@2x.png'); }
      }
    }
  }

  .greetings {
    position: absolute;
    display: block;
    background-image: image-url('graph-hello-en@2x.png');
    text-indent: -9999px;

    @media (max-width: 480px) {
      top: -65px;
      right: 0;
    }

    @media (min-width: 481px) {
      top: -65px;
      right: 0;
    }

    @media (max-width: 767px) {
      @include size(92px, 56px);
      background-size: 92px 56px;
    }

    @media (min-width: 768px) {
      @include size(114px, 70px);
      top: -50px;
      right: 5px;
      background-size: 114px 70px;
    }

    @media (min-width: 992px) {
      top: -80px;
      right: 115px;
    }

    @media (min-width: 1200px) { right: 215px; }
  }
}

.speakers { @include clearfix; }

.hero-speaker {
  text-align: center;

  @media (max-width: 480px) { width: 50%; }
  @media (min-width: 481px) { width: 25%; }
  @media (max-width: 991px) { float: left; }

  @media (min-width: 992px) {
    width: 128px;
    position: absolute;
  }

  &:nth-child(1) {

    @media (max-width: 480px) { margin-bottom: 20px; }

    @media (min-width: 992px) {
      top: -284px;
      left: 15px;
    }

    @media (min-width: 1200px) {
      top: -412px;
      left: 55px;
    }
  }

  &:nth-child(2) {
    @media (max-width: 480px) { margin-bottom: 20px; }

    @media (min-width: 992px) {
      top: -412px;
      left: 133px;
    }

    @media (min-width: 1200px) {
      top: -412px;
      left: 233px;
    }
  }

  &:nth-child(3) {
    @media (min-width: 992px) {
      top: -412px;
      right: 133px;
    }

    @media (min-width: 1200px) {
      top: -412px;
      right: 233px;
    }
  }

  &:nth-child(4) {
    @media (min-width: 992px) {
      top: -284px;
      right: 15px;
    }

    @media (min-width: 1200px) {
      top: -412px;
      right: 55px;
    }
  }
}

.hero-speaker-photo {
  display: block;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;

  @media (max-width: 480px) { @include square(80px); }
  @media (min-width: 481px) { @include square(110px); }
}

.hero-speaker-name {
  @include titillium-semi-bold;
  font-size: 18px;
  line-height: 18px;
}
