/*––––––––––––––––––––––––––––––––––––––––––––––––––
      Index
––––––––––––––––––––––––––––––––––––––––––––––––––*/

main.hero {
  @extend .container;
  position: relative;

  @media (max-width: $screen-xs-max) {
    padding-top: 275px;
    text-align: center;
  }

  @media (min-width: $screen-sm-min) { padding-top: 270px; }
  @media (max-width: $screen-sm-max) { margin-bottom: 60px; }
}

.hero-area {
  @include make-xs-column(12);
  @extend .motion-fade-in;
}

/*... Scaffolding ...*/

.hero-logo {
  @extend .motion-wobble-up;
  position: absolute;
  left: 50%;
  text-indent: -9999px;
  background-image: image-url('logo-tropical@2x.png');

  @media (max-width: $screen-xs-max) {
    @include size(220px,212px);
    background-size: 220px 212px;
    margin: 0 auto 0 -110px;
    top: 34px;
  }

  @media (min-width: $screen-sm-min) {
    @include size(234px,226px);
    background-size: 234px 226px;
    margin: 0 auto 0 -118px;
    top: 3px;
  }
}

.hero-data {
  @extend .motion-wobble-up;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  text-indent: -9999px;

  address {
    font-size: 0;
    line-height: 0;
  }

  @media (max-width: 480px) { margin-bottom: 30px; }
  @media (min-width: 481px) { margin-bottom: 40px; }

  @media (max-width: $screen-xs-max) {
    @include size(258px, 211px);
    background-size: 258px 211px;
  }

  @media (min-width: $screen-sm-min) {
    @include size(531px, 155px);
    background-size: 531px 155px;
  }
}

html[lang*="en"] {
  .hero-data {
    @media (max-width: $screen-xs-max) { background-image: image-url('logo-porto-vert-en@2x.png'); }
    @media (min-width: $screen-sm-min) { background-image: image-url('logo-porto-horiz-en@2x.png'); }
  }
}

html[lang*="pt"] {
  .hero-data {
    @media (max-width: $screen-xs-max) { background-image: image-url('logo-porto-vert-pt@2x.png'); }
    @media (min-width: $screen-sm-min) { background-image: image-url('logo-porto-horiz-pt@2x.png'); }
  }
}

.hero-description {
  @include make-xs-column(12);
  @include make-sm-column(6);
  margin-bottom: 0;

  @media (min-width: $screen-sm-min) { text-align: right; }

  @media (min-width: $screen-lg-min) {
    p {  padding-left: 130px; }
  }
}

.hero-advantages {
  @include list-unstyled;
  margin-bottom: 30px;

  @media (min-width: $screen-sm-min) {
    margin-bottom: 40px;
    text-align: right;
  }

  li {
    position: relative;
    height: 24px;
    line-height: 24px;
    margin-bottom: 1px;

    @media (min-width: $screen-md-min) {
      display: inline-block;
      margin-left: 10px;
    }
  }
}

.icon-video { background-image: inline-image('icon-med-video-red@2x.png'); }
.icon-translation { background-image: inline-image('icon-med-translation-red@2x.png'); }
.icon-transportation { background-image: inline-image('icon-med-transportation-red@2x.png'); }

.hero-social {
  @include make-xs-column(12);
  @include make-sm-column(6);
  @media (max-width: $screen-xs-max) { padding: 0; }

  ul {
    @include list-unstyled;
    @include clearfix;

    @media (max-width: $screen-xs-max) {
      width: 280px;
      margin: 5px auto 25px;
      padding-right: 2px;
      text-align: center;
    }

    @media (min-width: $screen-sm-min) { margin-bottom: 20px; }

    @media (min-width: $screen-sm-min) and (max-width: 991px) {
      margin-bottom: 36px;
      padding-top: 30px;
    }

    li {
      @media (max-width: $screen-xs-max) { display: inline-block; }
      @media (min-width: $screen-sm-min) { float: left; }

      a {
        @include square(44px);
        @extend .motion-pressed;
        position: relative;
        display: block;
        text-indent: -9999px;
        background-image: inline-image('octagon-small-red@2x.png');
        background-size: 44px;

        @media (max-width: $screen-xs-max) {
          margin-right: 3px;
          margin-left: 3px;
        }

        @media (min-width: $screen-sm-min) { margin-right: 12px; }

        &:before {
          @include square(22px);
          position: absolute;
          top: 50%;
          left: 50%;
          display: block;
          margin-top: -11px;
          margin-left: -11px;
          background-size: 22px;
          content: '';
        }

        &.email:before { background-image: inline-image('icon-med-contact-red@2x.png'); }
        &.facebook:before { background-image: inline-image('icon-med-facebook-red@2x.png'); }
        &.github:before { background-image: inline-image('icon-med-github-red@2x.png'); }
        &.lanyrd:before { background-image: inline-image('icon-med-lanyrd-red@2x.png'); }
        &.twitter:before { background-image: inline-image('icon-med-twitter-red@2x.png'); }
      }
    }
  }

  .greetings {
    position: absolute;
    display: block;
    text-indent: -9999px;

    @media (max-width: 480px) {
      top: -55px;
      right: 0;
    }

    @media (min-width: 481px) {
      top: -65px;
      right: 0;
    }

    @media (max-width: $screen-xs-max) {
      @include size(92px, 56px);
      background-size: 92px 56px;
    }

    @media (min-width: $screen-sm-min) {
      @include size(114px, 70px);
      top: -50px;
      right: 5px;
      background-size: 114px 70px;
    }

    @media (min-width: $screen-md-min) {
      top: -80px;
      right: 115px;
    }

    @media (min-width: $screen-lg-min) { right: 215px; }
  }
}

html[lang*="en"] {
  .hero-social {
    .greetings { background-image: image-url('graph-hello-en@2x.png'); }
  }
}

html[lang*="pt"] {
  .hero-social {
    .greetings { background-image: image-url('graph-hello-pt@2x.png'); }
  }
}

.speakers { @include clearfix; }

.hero-speaker {
  text-align: center;
  min-height: 114px;

  a { display: block; }
  @media (max-width: $screen-xs-max) { width: 50%; }
  @media (min-width: $screen-sm-min) { width: 25%; }
  @media (max-width: $screen-sm-max) { float: left; }

  @media (min-width: $screen-md-min) {
    width: 128px;
    position: absolute;
  }

  &:nth-child(1) {
    @extend .motion-wobble-left;

    @media (max-width: $screen-xs-max) { margin-bottom: 20px; }
    @media (min-width: $screen-md-min) {
      top: -284px;
      left: 15px;
    }
    @media (min-width: $screen-lg-min) {
      top: -412px;
      left: 55px;
    }
  }

  &:nth-child(2) {
    @extend .motion-wobble-left;

    @media (max-width: $screen-xs-max) { margin-bottom: 20px; }
    @media (min-width: $screen-md-min) {
      top: -412px;
      left: 133px;
    }
    @media (min-width: $screen-lg-min) {
      top: -412px;
      left: 233px;
    }
  }

  &:nth-child(3) {
    @extend .motion-wobble-right;

    @media (min-width: $screen-md-min) {
      top: -412px;
      right: 133px;
    }

    @media (min-width: $screen-lg-min) {
      top: -412px;
      right: 233px;
    }
  }

  &:nth-child(4) {
    @extend .motion-wobble-right;

    @media (min-width: $screen-md-min) {
      top: -284px;
      right: 15px;
    }

    @media (min-width: $screen-lg-min) {
      top: -412px;
      right: 55px;
    }
  }

  &.video {
    &:after {
      opacity: 0;
      position: absolute;
      content: '';
      display: block;
      cursor: pointer;
      background-image: inline-image('icon-big-play@2x.png');
      left: 50%;
      transition: opacity .3s ease;
      @media (max-width: $screen-xs-max) {
        @include square(24px);
        background-size: 24px;
        top: 28px;
        margin-left: -12px;
      }
      @media (min-width: $screen-sm-min) {
        @include square(32px);
        background-size: 32px;
        top: 39px;
        margin-left: -16px;
      }
    }
    &:hover {
      &:after { opacity: 1; }
    }
  }
}

.hero-speaker-photo {
  display: block;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;

  @media (max-width: $screen-xs-max) { @include square(80px); }
  @media (min-width: $screen-sm-min) { @include square(110px); }
}

.hero-speaker-name {
  @include titillium-semi-bold;
  font-size: 18px;
  line-height: 18px;
}
