/*––––––––––––––––––––––––––––––––––––––––––––––––––
      Schedule
––––––––––––––––––––––––––––––––––––––––––––––––––*/

main.schedule {
  @extend .container;
  margin-bottom: 0;

  @media (min-width: $screen-sm-min) { margin-bottom: 15px; }
  @media (min-width: $screen-md-min) { margin-bottom: 30px; }

  h1 { display: none; }
}

.schedule-area {
  @include make-xs-column(12);
  padding: 0;
}

/*... Navigation ...*/

.nav-schedule {
  @include clearfix();
  display: block;
  margin: 35px auto 0;
  width: (70px * 4);
  overflow: visible;

  @media (min-width: $screen-sm-min) {
    width: (126px * 4);
    margin-top: 0;
  }

  ol {
    @include list-unstyled;
    @include clearfix();
  }
}

.nav-event {
  @include size(70px, 128px);
  float: left;
  overflow: visible;
  z-index: 1;
  @media (min-width: $screen-sm-min) { @include size(126px, 149px); }

  h4 {
    height: 18px;
    font-size: 14px;
    line-height: 18px;
    margin-top: 0;
    margin-bottom: 5px;
    text-align: center;

    @media (min-width: $screen-sm-min) {
      font-size: 18px;
      height: 36px;
      margin-bottom: 10px;
    }
  }

  &.one h4,
  &.four h4 {
    @media (min-width: $screen-sm-min) {
      height: 18px;
      margin-top: 18px;
    }
  }

  &.two h4, {
    width: 140px;

    @media (min-width: $screen-sm-min) { width: 126px; }
  }

  &.three {
    margin-top: 23px;
    height: 105px;
    h4 { display: none; }

    @media (min-width: $screen-sm-min) {
      margin-top: 0;
      height: 149px;
      h4 { display: block; }
    }
  }

  a {
    display: block;
    text-decoration: none;
    overflow: visible;

    &:hover {
      .icon-nav, .nav-event-time { @extend .motion-wobble-vertical; }
    }
  }
}

.icon-nav {
  @include square(60px);
  background-size: 60px 60px;
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 3;

  @media (min-width: $screen-sm-min) {
    @include square(80px);
    background-size: 80px 80px;
  }
}

.icon-recife {
  background-image: image-url('schedule-graph-mobi-recife@2x.png');
  @media (min-width: $screen-sm-min) {
    background-image: image-url('schedule-graph-desk-recife@2x.png');
  }
}

.icon-porto {
  background-image: image-url('schedule-graph-mobi-porto@2x.png');
  @media (min-width: $screen-sm-min) {
    background-image: image-url('schedule-graph-desk-porto@2x.png');
  }
}

%nav-event-active-bkg {
  &:before {
    @extend .motion-fade-in;
    @include square(120px);
    background-image: image-url('schedule-graph-mobi-bkg-active@2x.png');
    background-size: 120px 120px;
    background-repeat: no-repeat;
    content: '';
    display: block;
    position: absolute;
    top: -30px;
    left: -30px;

    @media (min-width: $screen-sm-min) {
      @include square(160px);
      background-image: image-url('schedule-graph-desk-bkg-active@2x.png');
      background-size: 160px 160px;
      top: -40px;
      left: -40px;
    }
  }
}

main.schedule.day-one {
  .nav-event.one {
    .icon-recife {
      @extend %nav-event-active-bkg;
      background-image: image-url('schedule-graph-mobi-recife-active@2x.png');

      @media (min-width: $screen-sm-min) {
        background-image: image-url('schedule-graph-desk-recife-active@2x.png');
      }
    }

    h4, .nav-event-time { @include titillium-bold; }
  }
}

main.schedule.day-two {
  .nav-event.two {
    .icon-porto {
      @extend %nav-event-active-bkg;
      background-image: image-url('schedule-graph-mobi-porto-active@2x.png');

      @media (min-width: $screen-sm-min) {
        background-image: image-url('schedule-graph-desk-porto-active@2x.png');
      }
    }

    h4, .nav-event-time { @include titillium-bold; }
  }
}

main.schedule.day-three {
  .nav-event.three {
    .icon-porto {
      @extend %nav-event-active-bkg;
      background-image: image-url('schedule-graph-mobi-porto-active@2x.png');
      @media (min-width: $screen-sm-min) {
        background-image: image-url('schedule-graph-desk-porto-active@2x.png');
      }
    }
    h4, .nav-event-time { @include titillium-bold; }
  }

  @media (max-width: $screen-xs-max) {
    .nav-event.two h4 { @include titillium-bold; }
  }
}

main.schedule.day-four {
  .nav-event.four {
    .icon-porto {
      @extend %nav-event-active-bkg;
      background-image: image-url('schedule-graph-mobi-porto-active@2x.png');
      @media (min-width: $screen-sm-min) {
        background-image: image-url('schedule-graph-desk-porto-active@2x.png');
      }
    }

    h4, .nav-event-time { @include titillium-bold; }
  }
}

.graph-connector {
  @include size(14px, 5px);
  background-size: 14px 5px;
  background-repeat: no-repeat;
  background-image: image-url('schedule-graph-connector-mobi@2x.png');
  display: block;
  position: absolute;
  top: (30px - 3px);

  @media (min-width: $screen-sm-min) {
    @include size(52px, 10px);
    background-image: image-url('schedule-graph-connector-desk@2x.png');
    background-size: 52px 10px;
    top: (40px - 6px);
  }

  &.end {
    &.left {
      background-image: image-url('schedule-graph-connector-mobi-end-left@2x.png');
      @media (min-width: $screen-sm-min) {
        background-image: image-url('schedule-graph-connector-desk-end-left@2x.png');
      }
    }
    &.right {
      background-image: image-url('schedule-graph-connector-mobi-end-right@2x.png');
      @media (min-width: $screen-sm-min) {
        background-image: image-url('schedule-graph-connector-desk-end-right@2x.png');
      }
    }
  }

  &.left {
    left: -7px;
    @media (min-width: $screen-sm-min) { left: -26px; }
  }
  &.right {
    right: -7px;
    @media (min-width: $screen-sm-min) { right: -26px; }
  }
}

.icon-car {
  @media (min-width: $screen-sm-min) {
    @include square(44px);
    background-image: image-url('schedule-graph-car@2x.png');
    background-size: 44px 44px;
    display: block;
    position: absolute;
    top: 0;
    left: -19px;
  }
}

.nav-event-time {
  display: block;
  font-size: 11px;
  line-height: 15px;
  margin-top: 5px;
  text-align: center;
  text-transform: uppercase;
  width: 70px;

  @media (min-width: $screen-sm-min) { width: 126px; }

  span {
    @include titillium-semi-bold;
    font-size: 18px;
    display: inline-block;
    text-transform: none;
    margin-left: 10px;
    margin-right: 10px;

    sup { font-size: 11px; }
  }
}

/*... Schedule Area ...*/

.schedule-area {
  header {
    margin: 20px auto 25px;

    @media (min-width: $screen-sm-min) { margin: 30px auto; }
  }
}

/*... Schedule Header ...*/

.schedule-subtitles {
  text-align: center;
  margin-top: 2px;
}

.schedule-subtitle {
  display: inline-block;
  height: 24px;
  margin: 1px 10px;
  font-size: 14px;
  line-height: 24px;
  vertical-align: middle;

  address {
    display: inline-block;
    text-decoration: underline;
    margin: 0;
  }

  .icon-translation {
    background-image: image-url('icon-med-translation-white@2x.png');
    margin-right: 6px;
  }
}

.icon-calendar { background-image: image-url('icon-med-calendar@2x.png'); }
.icon-geolocal { background-image: image-url('icon-med-geolocal@2x.png'); }

/*... Schedule Timeline (Events) ...*/

.schedule-events { @include list-unstyled; }

.event {
  @include make-xs-column(12);
  @include make-sm-column(9);
  @include make-sm-column-offset(3);
  @include clearfix();
  margin-bottom: 25px;

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { margin-bottom: 30px; }
  @media (min-width: $screen-md-min) { margin-bottom: 5px; }
  @media (max-width: $screen-xs-max) { padding-top: 34px; }

  &:last-child {
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { margin-bottom: 15px; }
    @media (min-width: $screen-sm-min) {
      .time-line {
        &:before, &:after { display: none !important; }
      }
    }
  }

  &:nth-child(odd) {
    @media (min-width: $screen-md-min) {
      width: 43.8%;
      margin-left: 56.2%;

      .event-image {
        left: -115px;
        top: 0;
        margin-right: 0;
      }
      .event-title { text-align: left; }
      .time-line:before, .time-line:after { left: -61px; }
    }
    @media (min-width: $screen-lg-min) {
      width: 44.8%;
      margin-left: 55.2%;
    }
  }

  &:nth-child(even) {
    @media (min-width: $screen-md-min) {
      width: 43.8%;
      margin-left: 0;
      margin-right: 56.2%;
      text-align: right;

      .event-image {
        right: -127px;
        top: 0;
      }
      .event-author, .event-local {
        @include clearfix();
        float: right;
      }
      .event-time { margin-right: 10px; }
      .time-line:before, .time-line:after { right: -63px; }
    }
    @media (min-width: $screen-lg-min) {
      width: 44.8%;
      margin-left: 0;
      margin-right: 55.2%;
    }
  }
}

.event-title {
  @include titillium-semi-bold;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 5px;
  width: 100%;

  @media (min-width: $screen-sm-min) { margin-bottom: 10px; }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { text-align: left; }
}

.event-image {
  @include square(60px);
  float: left;
  margin-right: 10px;
  z-index: 3;

  @media (min-width: $screen-sm-min) {
    @include square(110px);
    position: absolute;
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    left: -120px;
    top: 0;
  }
}

.event-author {
  @include size(210px,60px);
  @include titillium-semi-bold;
  font-size: 18px;
  line-height: 18px;
  height: 60px;
  margin: 0 0 0 70px;
  padding-top: 20px;
  vertical-align: middle;

  &.long { padding-top: 12px; }

  @media (min-width: $screen-sm-min) {
    display: inline-block;
    width: auto;
    height: 24px;
    margin-left: 0;
    padding-top: 1px;
  }
}

.event-time {
  @include titillium-semi-bold;
  @include opacity(.75);
  border: 1px solid rgba(255,255,255,.75);
  border-radius: 2px;
  display: inline-block;
  height: 24px;
  padding: 0 6px;
  line-height: 22px;
  text-align: center;

  span {
    display: inline-block;
    font-size: 10px;
    margin-left: 1px;
    margin-right: 1px;
    text-transform: uppercase;
    vertical-align: baseline;
  }

  @media (max-width: $screen-xs-max) {
    position: absolute;
    top: 0;
    left: 50%;
    width: 110px;
    margin-left: -55px;

    &:before, &:after {
      @include size(48px,1px);
      content: '';
      background-color: rgba(255,255,255,.5);
      display: inline;
      position: absolute;
      vertical-align: middle;
      top: 11px;
    }

    &:before { left: -58px; }
    &:after { right: -58px; }
  }

  @media (min-width: $screen-sm-min) {
    display: inline-block;
    height: 24px;
    margin-left: 10px;
  }
}

.event-local {
  line-height: 24px;
  height: 24px;
}

.event-description {
  margin-top: 5px;
  margin-bottom: 0;

  .expander {
    @include titillium-semi-bold;
    display: inline-block;
    font-size: 10px;
    margin-left: 10px;
    margin-right: 1px;
    text-transform: uppercase;
    vertical-align: baseline;
  }
}

.first-words:after { content: '…'; }
.last-words { display: none; }
.event.expanded .first-words:after { content: ''; }

.time-line {
  z-index: 1;

  @media (min-width: $screen-sm-min) {
    &:before, &:after {
      background-color: rgba(255,255,255,.65);
      content: '';
      display: block;
      position: absolute;
      width: 2px;
    }

    &:before {
      height: 100%;
      top: 0;
    }

    &:after {
      height: 30px;
      top: 100%;
    }
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    &:before, &:after { left: -66px; }
  }
}
