/*––––––––––––––––––––––––––––––––––––––––––––––––––
      Sponsors
––––––––––––––––––––––––––––––––––––––––––––––––––*/

body.sponsors {
  .navbar {
    margin-bottom: 30px;

    @media (min-width: $screen-sm-min) { margin-bottom: 40px; }
  }
}

.sponsors-area {
  @extend .motion-fade-in;
  @extend .container;
  margin-bottom: 20px;

  section {
    header {
      @include make-xs-column(12);
      margin-bottom: 15px;
    }

    &.gold header {
      margin-top: 45px;
      margin-bottom: 0;
    }
    &.silver header { margin-top: 50px; }
    &.bronze header { margin-top: 50px; }
    &.organizers header { margin-top: 40px; }
    &.supporters header { margin-top: 50px; }
    &.ambassadors header {
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }
}

.prospectus {
  @include size(200px, 36px);
  display: block;
  font-size: 18px;
  line-height: 24px;
  border: 2px solid $mono-04;
  border-radius: 3px;
  margin: 0 auto;
  padding: 4px 4px 4px 10px;
}

.icon-fist-bump {
  background-image: inline-image('icon-med-fist-bump@2x.png');
  margin-right: 6px;
}

/*... Brands Scaffold ...*/

.sponsors-brand {
  a {
    @include size(100%, auto);
    display: block;
    margin: 0 auto;
    text-indent: -9999px;
    font-size: 0;
    line-height: 0;
  }

  img {
    display: block;
    margin: 0 auto;
  }
}

.sponsors-area {
  section {
    &.gold {
      .sponsors-brand {
        @include make-xs-column(12);
        @include make-sm-column(6);

        img {
          @media (max-width: $screen-sm-max) {
            @include size(280px,135px);
            margin: 10px auto;
          }
          @media (min-width: $screen-md-min) { @include size(389px, 188px); }
        }
      }
    }

    &.silver {
      header {
        margin-bottom: 5px;

        @media (min-width: $screen-sm-min) { margin-bottom: 30px; }
      }

      .sponsors-brand {
        @include make-xs-column(12);
        @include make-sm-column(4);
        @include make-sm-column-offset(0);

        img {
          @media (max-width: $screen-sm-max) {
            @include size(182px,97px);
            margin: 15px auto 5px;
          }
          @media (min-width: $screen-md-min) { @include size(252px,134px); }
        }
      }
    }

    &.bronze {
      header {
        @media (min-width: $screen-sm-min) { margin-bottom: 30px; }
      }

      .sponsors-brand {
        @include make-xs-column(6);
        @include make-sm-column(3);

        img {
          margin-bottom: 30px;

          @media (max-width: $screen-sm-max) { @include size(132px,63px); }
          @media (min-width: $screen-md-min) { @include size(184x,89px); }
        }
      }
    }

    &.organizers {
      header {
        @media (min-width: $screen-sm-min) {
          margin-bottom: 30px;
        }
      }

      .sponsors-brand {
        @include make-xs-column(8);
        @include make-xs-column-offset(2);
        @include make-sm-column(4);
        @include make-sm-column-offset(0);

        img {
          @media (max-width: $screen-sm-max) {
            @include size(182px,97px);
            margin-top: 10px;
            margin-bottom: 10px;
          }
          @media (min-width: $screen-md-min) { @include size(252px,134px); }
        }
      }
    }

    &.supporters {
      .sponsors-brand {
        @include make-xs-column(4);
        @include make-sm-column(2);
        @include make-sm-column-offset(0);

        img {
          @media (max-width: $screen-sm-max) {
            @include size(83px,63px);
            margin-bottom: 30px;
          }
          @media (min-width: $screen-md-min) {
            @include size(116px,89px);
            margin-bottom: 20px;
          }
        }

        h4 {
          @include titillium-web;
          position: relative;
          display: inline-block;
          width: 100%;
          margin: 20px auto 10px;
          font-size: 11px;
          line-height: 14px;
          height: 28px;
          text-align: center;
          text-transform: uppercase;
          vertical-align: middle;
          z-index: 3;
        }
      }
    }
  }
}

.blurb {
  font-size: 14px;
  line-height: 18px;
  padding: 0;
  text-align: center;

  @media (min-width: $screen-md-min) { padding: 0 40px; }

  a {
    @include size(auto,auto);
    color: $mono-04;
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    text-decoration: underline;
    text-indent: 0;
  }
}

.gold {
  .blurb {
    @media (min-width: $screen-md-min) { padding: 0 45px; }
  }
}

.silver {
  .blurb {
    @media (min-width: $screen-md-min) { padding: 0 20px; }
  }
}

.ambassadors {
  @media (max-width: $screen-xs-max) {
    margin-left: 0;
    margin-right: 0;

    h2 {
      span {
        display: inline-block;
        white-space: nowrap;

        &:before { content: '-'; }
      }
    }
  }

  @media (min-width: $screen-sm-min) {
    h2 {
      span { display: inline; }
    }
  }
}

.ambassador {
  @include make-xs-column(6);
  @include make-sm-column(4);
  @include make-md-column(3);
  text-align: center;
  margin-bottom: 30px;

  @media (max-width: $screen-xs-max) { padding: 0; }

  a {
    display: block;
    margin: 0 auto;
    @media (min-width: $screen-sm-min) { width: 140px; }

    &:hover,
    &:focus { animation: none !important; }
  }

  &.thiago {
    @include make-xs-column-offset(3);
    @include make-sm-column-offset(4);
    @include make-md-column-offset(0);
  }
}

.ambassador-photo {
  display: block;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;

  @media (max-width: $screen-xs-max) { @include square(80px); }
  @media (min-width: $screen-sm-min) { @include square(110px); }
}

.ambassador-name {
  @include titillium-semi-bold;
  font-size: 18px;
  line-height: 18px;
}

.ambassador-location,
.ambassador-handler {
  @include titillium-web;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  text-decoration: none;
}

/*... Specific Layouting ...*/

.sponsors-area {
  section {
    &.gold {
      .engine-yard {
        @include make-sm-column-offset(3);
      }
    }
    &.bronze {
      .dnsimple {
        @media (min-width: $screen-sm-min) { margin-left: 12.5%; }
      }

      .zertico {
        @include make-xs-column-offset(3);
        @include make-sm-column-offset(0);
      }
    }

    &.supporters {
      .supporters-special {
        margin: 0;

        .sponsors-brand {
          @include make-xs-column(4);
          @include make-sm-column(2);
          @include make-sm-column-offset(0);
        }

        .ruby-central,
        .casaeventos { @include make-xs-column-offset(2); }
        .ruby-central { @include make-sm-column-offset(2); }
        .casaeventos { @include make-sm-column-offset(0); }

        @media (max-width: $screen-xs-max) {
          h4 { margin-bottom: 0; }
          .ruby-central,
          .impact-hub-advisory {
              .sponsors-image { margin-bottom: 5px; }
          }
        }
      }

      .aws {
        @media (min-width: $screen-sm-min) { margin-left: 8.5%; }
      }

      .say2me {
        @include make-xs-column-offset(2);
        @include make-sm-column-offset(0);
      }
    }

    &.ambassadors {
      .lucas {
        @media (min-width: $screen-md-min) { margin-left: 12.5%; }
      }
    }
  }
}
