/*––––––––––––––––––––––––––––––––––––––––––––––––––
      Sponsors
––––––––––––––––––––––––––––––––––––––––––––––––––*/

body.sponsors {
  .navbar {
    margin-bottom: 30px;

    @media (min-width: $screen-sm-min) { margin-bottom: 35px; }
  }
}

.sponsors-area {
  @extend .container;

  section {
    header {
      @include make-xs-column(12);
      margin-bottom: 15px;
    }

    &.gold header { margin-top: 30px; }
    &.silver header { margin-top: 60px; }
    &.bronze header { margin-top: 60px; }
    &.organizers header { margin-top: 60px; }
    &.supporters header { margin-top: 60px; }
  }
}

.prospectus {
  @include size(200px, 36px);
  display: block;
  font-size: 18px;
  line-height: 24px;
  border: 2px solid $mono-03;
  border-radius: 3px;
  margin: 0 auto;
  padding: 4px;
}

.icon-fist-bump {
  background-image: image-url('icon-med-fist-bump@2x.png');
  margin-right: 4px;
}

.sponsors-brand {
  a, a img {
    @include size(100%, auto);
    display: block;
    margin: 0 auto;
    text-indent: -9999px;
    font-size: 0;
    line-height: 0;
  }
}

.sponsors-area {
  .gold {
    .sponsors-brand {
      @include make-xs-column(12);
      @include make-sm-column(6);
    }
  }

  .silver {
    .sponsors-brand {
      @include make-xs-column(8);
      @include make-xs-column-offset(2);
      @include make-sm-column(4);
      @include make-sm-column-offset(0);
    }
  }

  .bronze {
    .sponsors-brand {
      @include make-xs-column(6);
      @include make-sm-column(3);
    }
  }

  .organizers {
    .sponsors-brand {
      @include make-xs-column(8);
      @include make-xs-column-offset(2);
      @include make-sm-column(4);
      @include make-sm-column-offset(0);
    }
  }

  .supporters {
    .sponsors-brand {
      @include make-xs-column(4);
      @include make-xs-column-offset(2);
      @include make-sm-column(2);
      @include make-sm-column-offset(0);
    }
  }
}
