/*––––––––––––––––––––––––––––––––––––––––––––––––––
      Venue
––––––––––––––––––––––––––––––––––––––––––––––––––*/

.bkg-watermark {
  @extend .motion-wobble-up;
  display: block;
  width: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: top center;

  @media (max-width: $screen-xs-max) {
    background-image: image-url('bkg-watermark-xs@2x.png');
    background-size: 402px 384px;
    height: 384px;
    top: 67px;
  }
  @media (min-width: $screen-sm-min) {
    background-image: image-url('bkg-watermark-lg@2x.png');
    background-size: 595px 570px;
    height: 570px;
    top: 102px;
  }
}

main.venue {
  @extend .motion-fade-in;
  margin-bottom: 60px;
  z-index: 3;

  blockquote { z-index: 3; }
  section { z-index: 3; }
  p { margin-bottom: 0; }
}

.venue-area { @extend .container; }

.quote,
.quote-author {
  @include titillium-web-light;
  font-size: 30px;
  line-height: 30px;
  font-style: normal;

  @media (min-width: $screen-sm-min) {
    font-size: 36px;
    line-height: 36px;
    letter-spacing: -1px;
  }
}

.quote {
  @include make-row;
  border-left: 0;
  margin-top: 40px;
  text-align: center;
}

.quote-content {
  @include make-xs-column(12);
  @include make-md-column(10);
  @include make-md-column-offset(1);
  display: block;
  padding: 0;
}

.quote-author {
  @include clearfix;
  display: block;
  margin: 20px auto;
  text-align: left;
  width: 100%;

  @media (min-width: $screen-sm-min) { width: 350px; }

  a {
    display: block;
    margin-top: 5px;
    @media (min-width: $screen-sm-min) { margin-top: 24px; }
  }
}

.quote-author-image {
  @include square(60px);
  margin-right: 15px;
  float: left;

  @media (min-width: $screen-sm-min) { @include square(110px); }
}

.quote-author-title {
  @include titillium-web;
  color: $poly-07;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 1px;
  text-align: left;
  text-transform: uppercase;

  @media (min-width: $screen-sm-min) { line-height: 36px; }
  &:before { content: none; }
}

.venue-remarks {
  padding-left: 15px;
  @media (min-width: $screen-sm-min) { padding: 0; }

  h2 { position: relative; }
}

.remark {
  @media (max-width: $screen-md-max) {
    @include make-row;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.remark-item {
  @include make-xs-column(12);
  @include make-sm-column(6);
  @include make-lg-column(3);
  @include make-lg-column-offset(0);
  margin-top: 25px;

  @media (max-width: $screen-xs-max) { padding: 0; }
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    padding-left: 20px;
    padding-right: 20px;
  }

  h3 {
    position: relative;
    padding-left: 32px;
    margin-bottom: 12px;
    @media (max-width: 330px) { padding-right: 40px; }

    span {
      position: absolute;
      margin-left: -32px;
      @media (max-width: 330px) { margin-top: 15px; }
      @media (min-width: 331px) and (max-width: $screen-xs-max) { margin-top: 5px; }
      @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) { margin-top: 5px; }
      @media (min-width: $screen-lg-min) { margin-top: 15px; }
    }
  }
}

.venue-about {
  @include make-xs-column(12);
  padding: 0;

  h2 {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  h3 {
    margin-top: 24px;
    span { white-space: nowrap; }
  }

  .venue-about-text {
    @include make-md-column(6);
    @include make-md-column-offset(4);
    @include make-lg-column(5);
    @include make-lg-column-offset(5);
    position: relative;

    @media (max-width: $screen-xs-max) { padding-right: 0; }
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      padding: 0 80px;

      h3, h4, p { padding-left: 30px; }
    }
  }

  .venue-porto-map {
    img {
      @include size(240px, 268px);
      margin: 0 auto 20px;
    }
  }
  .venue-porto-photo,
  .venue-recife-photo {
    img {
      @include square(240px);
      margin: 20px auto;
    }
  }

  .venue-porto-map,
  .venue-porto-photo,
  .venue-recife-photo {
    display: block;
    img { display: block; }

    @media (min-width: $screen-md-min) { position: absolute; }
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) { left: -260px; }
    @media (min-width: $screen-lg-min) { left: -300px; }
  }

  .venue-porto-map {
    @media (min-width: $screen-md-min) { top: 10px; }
  }
  .venue-porto-photo {
   @media (min-width: $screen-md-min) { top: 270px; }
  }
  .venue-recife-photo {
   @media (min-width: $screen-md-min) { top: 530px; }
  }
}

.icon-transportation-yellow { background-image: inline-image('icon-med-transportation-yellow@2x.png'); }
.icon-bed-yellow            { background-image: inline-image('icon-med-bed-yellow@2x.png'); }
.icon-food-yellow           { background-image: inline-image('icon-med-food-yellow@2x.png'); }
.icon-beachball-yellow      { background-image: inline-image('icon-med-beachball-yellow@2x.png'); }
