/*––––––––––––––––––––––––––––––––––––––––––––––––––
      Videos
––––––––––––––––––––––––––––––––––––––––––––––––––*/

body.videos {
  .navbar {
    margin-bottom: 30px;
    @media (min-width: $screen-sm-min) { margin-bottom: 40px; }
  }
}

main.videos {
  @extend .motion-fade-in;
  margin-bottom: 60px;
}

.videos-area {
  @extend .container;
  header {
    margin-bottom: 45px;
  }
}

.video-subtitle {
  margin-top: 2px;
  text-align: center;

  small {
    display: inline-block;
    height: 24px;
    margin: 1px 10px;
    font-size: 14px;
    line-height: 24px;
    vertical-align: middle;
    text-align: center;

    strong, span { white-space: nowrap; }
  }
}

.video-content {
  @include make-xs-column(12);
  @include make-sm-column(6);
  position: relative;
  margin-bottom: 40px;

  &.centered { @include make-sm-column-offset(3); }

  &:nth-child(odd) {
    @extend .motion-wobble-left;
    @media (max-width: $screen-xs-max) {
      animation: none;
      transform: translate3d(0,0,0);
      opacity: 1;
    }
  }
  &:nth-child(even) {
    @extend .motion-wobble-right;
    @media (max-width: $screen-xs-max) {
      animation: none;
      transform: translate3d(0,0,0);
      opacity: 1;
    }
  }
}

main.videos .video-content {
  h3 {
    @media (min-width: $screen-lg-min) {
      padding: 0 25px;
    }
  }
}

.video-embed {
  margin-bottom: 15px;

  .empty {
    img {
      width: 100%;
      height: auto;
    }
    small {
      display: block;
      width: 100%;
      text-align: center;
      position: absolute;
      top: 60%;
      text-transform: uppercase;
    }
  }
}

.video-description {
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.video-description-left,
.video-description-right {
  vertical-align: middle;
  display: inline-block;
  min-height: 70px;
}

.video-description-right { text-align: left; }

.author-image {
  @include square(60px);
  margin-top: 8px;
  margin-right: 10px;
}

.video-author {
  display: inline-block;
  a { cursor: pointer; }
}

.video-time {
  @include titillium-web;
  display: inline-block;
  height: 24px;
  font-size: 14px;
  line-height: 19px;
}

.video-language {
  @include titillium-semi-bold;
  display: inline-block;
  font-size: 10px;
  line-height: 10px;
  text-transform: uppercase;
  padding: 4px 10px 3px;
  border: 2px solid transparentize($poly-07,.5);
  border-radius: 2px;
}

#panel {
  .video-author a { white-space: nowrap; }
  .video-description-right {
    @media (max-width: $screen-md-max) {
      width: 70%;
    }
  }
}

.disclaimer {
  @include make-xs-column(12);
  @include make-sm-column(6);
  @include make-sm-column-offset(3);
  small {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    strong {
      font-weight: 700;
      white-space: nowrap;
    }
    &:before {
      background-color: $poly-07;
      content: '';
      display: block;
      width: 120px;
      height: 1px;
      margin: 0 auto 15px;
    }
  }
}
