/*––––––––––––––––––––––––––––––––––––––––––––––––––
      Base
––––––––––––––––––––––––––––––––––––––––––––––––––*/

html { -webkit-font-smoothing: antialiased; }

*:focus { outline: none !important; }

a {
  transition: .3s color;
  text-decoration: underline;
}

body.index {
  mark,
  ::selection {
    background: $poly-11 !important;
    color: #fff !important;
    text-shadow: darken($poly-11, 10%) 0 1px 3px;
  }
}

body.schedule {
  mark,
  ::selection {
    background: $poly-01 !important;
    color: #fff !important;
    text-shadow: darken($poly-01, 10%) 0 1px 3px;
  }
}

body.sponsors {
  mark,
  ::selection {
    background: $mono-03 !important;
    color: #fff !important;
    text-shadow: darken($mono-03, 10%) 0 1px 3px;
  }
}

body.venue,
body.videos {
  mark,
  ::selection {
    background: $brand-01 !important;
    color: #fff !important;
    text-shadow: darken($brand-01, 10%) 0 1px 3px;
  }
}

input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'],
textarea {
  @include placeholder($placeholder);
  color: $text-color;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
}

textarea {
  @include resizable(vertical);
}

button,
input[type='button'],
input[type='file'],
input[type='image'],
input[type='reset'],
input[type='submit'] {
  -webkit-font-smoothing: antialiased;
}

button,
input,
textarea {
  &:focus {
    outline: none !important;
  }
}

.container {
  @media (min-width: 320px) and (max-width: 767px) {
    max-width: 420px;
  }
}

.icon-medium {
  @include square(24px);
  background-size: 24px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
