/*––––––––––––––––––––––––––––––––––––––––––––––––––
      Typography
––––––––––––––––––––––––––––––––––––––––––––––––––*/

/*... Molle ...*/

@mixin molle {
  font-family: 'Molle', 'Georgia', serif;
  font-style: italic;
  font-weight: 400;
}

/*... Titillium Web ...*/

@mixin titillium-web-light {
  font-family: 'Titillium Web', 'Lucida Grande', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-weight: 300;
}

@mixin titillium-web {
  font-family: 'Titillium Web', 'Lucida Grande', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-weight: 400;
}

@mixin titillium-semi-bold {
  font-family: 'Titillium Web', 'Lucida Grande', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-weight: 600;
}

@mixin titillium-bold {
  font-family: 'Titillium Web', 'Lucida Grande', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-weight: 700;
}

@mixin titillium-black {
  font-family: 'Titillium Web', 'Lucida Grande', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-weight: 900;
}

/*... Typographic Settings ...*/

main {
  &.schedule,
  &.venue,
  &.sponsors,
  &.appendix,
  &.videos {
    h1 { display: none; }
  }
}

h2 {
  @include molle;
  font-size: 46px;
  line-height: 48px;
  margin: 0 auto;
  text-align: center;
  width: 250px;

  &:before, &:after {
    @include size(25px, 2px);
    content: '';
    background-color: white;
    display: inline-block;
    position: absolute;
    vertical-align: middle;
    margin-top: 19px;
  }

  &:before { margin-left: -33px; }
  &:after { margin-left: 10px; }

  @media (min-width: $screen-sm-min) {
    font-size: 51px;
    line-height: 51px;
    width: 100%;

    &:before, &:after {
      @include size(100px, 2px);
      margin-top: 22px;
    }

    &:before { margin-left: -118px; }
    &:after { margin-left: 20px; }
  }
}

h3 {
  @include titillium-semi-bold;
  margin-top: 0;
  font-size: 24px;
}

p {
  font-size: 18px;
  line-height: 24px;
}

strong { @include titillium-semi-bold; }

label {
  @include titillium-semi-bold;
  display: block;
  margin-bottom: 8px;
  text-transform: uppercase;
}

hr {
  width: 48px;
  margin-top: 15px;
}

main {
  &.venue {
    h2 {
      color: $poly-07;
      &:before, &:after { background-color: $poly-07; }
    }

    h4 {
      @include titillium-semi-bold;
      font-size: 18px;
      line-height: 24px;
      margin-top: 24px;
      margin-bottom: 10px;
      text-transform: uppercase;
    }
  }
  &.videos {
    h2 {
      color: $poly-07;
      &:before, &:after { background-color: $poly-07; }
    }

    h3 {
      margin-top: 15px;
      margin-bottom: 10px;
      text-align: center;
      @media (min-width: $screen-md-min) {
        padding: 0 20px;
      }
    }

    h4 {
      @include titillium-semi-bold;
      font-size: 18px;
      line-height: 24px;
      margin-top: 1px;
      margin-bottom: 5px;
    }
  }
  &.sponsors {
    h2 {
      color: $mono-05;
      &:before, &:after { background-color: $mono-05; }
    }
  }

  &.appendix {
    h2 {
      &:before, &:after { background-color: $poly-11; }
    }
  }
}

