/*––––––––––––––––––––––––––––––––––––––––––––––––––
      Animations
––––––––––––––––––––––––––––––––––––––––––––––––––*/

a {
  @extend .hvr-wobble-vertical;
}

.hvr-wobble-vertical {
  transform: translate3d(0,0,0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;

  &:hover,
  &:focus,
  &:active {
    animation-name: hvr-wobble-vertical;
    animation-duration: .9s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
  }
}

@keyframes hvr-wobble-vertical {
  16.65% { transform: translate3d(0,-4px,0); }
  33.3% { transform: translate3d(0,4px,0); }
  49.95% { transform: translate3d(0,-3px,0); }
  66.6% { transform: translate3d(0,2px,0); }
  83.25% { transform: translate3d(0,-1px,0); }
  100% { transform: translate3d(0,0,0); }
}
