// *************************************
//
//   Variables
//   ->
//
// *************************************

// -------------------------------------
//   Colors
// -------------------------------------

// ----- Brand ----- //

$brand-01:  rgb(0,0,0);
$brand-02:  rgb(0,0,0);
$brand-03:  rgb(0,0,0);

// ----- Monochromatic ----- //

$mono-01:  rgb(0,0,0);
$mono-02:  rgb(0,0,0);
$mono-03:  rgb(0,0,0);

// ----- Polychromatic ----- //

$poly-01:  rgb(0,0,0);
$poly-02:  rgb(0,0,0);
$poly-03:  rgb(0,0,0);

// ----- Forms ----- //

$placeholder:  lighten($text-color, 45%);

// ----- Others ----- //

$body-bg:     rgb(255,255,255);
$link:        $brand-01;
$text-color:  rgb(51,51,51);

// -------------------------------------
//   Paths
// -------------------------------------

$fonts:   '../fonts';
$images:  '../images';
$movies:  '../movies';
