---
title: Tropical Ruby 2015 — Schedule — March 5th to 8th at Porto de Galinhas, Brazil
stylesheet: pages/schedule
---

<main class="schedule day-three">

  <h1>Schedule: March 7h, Activities &amp; Talks</h1>
  <%= partial "schedule-nav" %>

  <article>

    <section class="activities">
      <header>
        <h2>Activities</h2>
        <span class="icon-small icon-calendar"></span><small><time date="2015-03-5">March 7th</time> • 00h and 00h</small>
        <span class="icon-small icon-geolocal"></span><address class="small"><a href="#">Address name</a></address>
      </header>
      <ol class="schedule-events">
        <li class="event" id="author-name">
          <img class="event-image" src="#">
          <h3 class="event-title">The Greatest Event Of All Conference</h3>
          <h4 class="event-author">Awesome Author</h4>
          <time class="event-time">8<span>a.m.</span> to 9<span>a.m.</span></time>
          <a class="event-local" href="#">Leaving at Local</a>
          <p class="event-description">Lorem ipum sit dolor amet<a href="smaller">More</a></p>
        </li>
      </ol>
    </section>

    <section class="talks">
      <header>
        <h2>Talks</h2>
        <span class="icon-small icon-calendar"></span><small><time date="2015-03-5">March 7th</time> • 00h and 00h</small>
        <span class="icon-small icon-geolocal"></span><address class="small"><a href="#">Address name</a></address>
      </header>
      <ol class="schedule-events">
        <li class="event" id="author-name">
          <img class="event-image" src="#">
          <h3 class="event-title">The Greatest Event Of All Conference</h3>
          <h4 class="event-author">Awesome Author</h4>
          <time class="event-time">8<span>a.m.</span> to 9<span>a.m.</span></time>
          <p class="event-description">Lorem ipum sit dolor amet<a href="smaller">More</a></p>
        </li>
      </ol>
    </section>

  </article>
</main>
