---
title: Tropical Ruby 2015 — Schedule — March 5th to 8th at Porto de Galinhas, Brazil
---

<main class="schedule day-two">

  <h1>Schedule: March 6th, Activities &amp; Talks</h1>
  <%= partial "schedule-nav" %>

  <article class="schedule-area">

    <section class="activities">
      <header>
        <h2>Activities</h2>
          <div class="schedule-subtitles">
            <small class="schedule-subtitle"><span class="icon-medium icon-calendar"></span><time date="2015-03-6">March 6th • 00h and 00h</time></small>
            <a class="schedule-subtitle" href="#"><span class="icon-medium icon-geolocal"></span><address>Address name</address></a>
          </div>
      </header>
      <ol class="schedule-events row">

        <li class="event" id="author-name">
          <h3 class="event-title">The Greatest Event Of All Conference</h3>
          <%= image_tag 'event-workshop-nick-celso@2x.png', class: 'event-image' %>
          <a class="event-local" href="#">Leaving at Local</a>
          <time class="event-time">8<span>a.m.</span> to 9<span>a.m.</span></time>
          <p class="event-description">
            <span class="first-words">Lorem ipum sit dolor amet hendrerit suspendisse purus sociosqu semper mollis adipiscing dui condimentum adipiscing a magnis convallis cubilia in dictumst</span> <span class="last-words">pulvinar cursus dis scelerisque magnis maecenas cum condimentum eu. Dignissim vestibulum eu adipiscing orci parturient sodales tellus suspendisse consectetur nisi cras orci eu parturient et nullam a nostra euismod per. Bibendum nostra in potenti condimentum parturient consectetur duis.</span>
            <a class="expander" href="#author-name" data-alternative-label="Less">More</a>
          </p>
        </li>

      </ol>
    </section>

    <section class="talks">
      <header>
        <h2>Talks</h2>
          <div class="schedule-subtitles">
            <small class="schedule-subtitle"><span class="icon-medium icon-calendar"></span><time date="2015-03-6">March 6th • 00h and 00h</time></small>
            <small class="schedule-subtitle"><span class="icon-medium icon-translation"></span>Simultaneous translation</small>
            <a class="schedule-subtitle" href="#"><span class="icon-medium icon-geolocal"></span><address>Address name</address></a>
          </div>
      </header>
      <ol class="schedule-events">

        <li class="event" id="author-name">
          <h3 class="event-title">The Greatest Event Of All Conference</h3>
          <%= image_tag 'event-workshop-nick-celso@2x.png', class: 'event-image' %>
          <h4 class="event-author">Awesome Author</h4>
          <time class="event-time">8<span>a.m.</span> to 9<span>a.m.</span></time>
          <p class="event-description">
            <span class="first-words">Lorem ipum sit dolor amet hendrerit suspendisse purus sociosqu semper mollis adipiscing dui condimentum adipiscing a magnis convallis cubilia in dictumst</span> <span class="last-words">pulvinar cursus dis scelerisque magnis maecenas cum condimentum eu. Dignissim vestibulum eu adipiscing orci parturient sodales tellus suspendisse consectetur nisi cras orci eu parturient et nullam a nostra euismod per. Bibendum nostra in potenti condimentum parturient consectetur duis.</span>
            <a class="expander" href="#author-name" data-alternative-label="Less">More</a>
          </p>
        </li>

      </ol>
    </section>

  </article>
</main>

<%= javascript_include_tag 'schedule' %>
