---
title: Tropical Ruby 2015 — Schedule — March 5th to 8th at Porto de Galinhas, Brazil
stylesheet: pages/schedule
---

<main class="schedule day-one">

  <h1>Schedule: March 5th, Workshops</h1>
  <%= partial "schedule-nav" %>

  <article class="schedule-area">

    <section class="workshops">
      <header>
        <h2>Workshops</h2>
          <div class="schedule-subtitles">
            <small class="schedule-subtitle"><span class="icon-medium icon-calendar"></span><time date="2015-03-5">March 5th • 00h and 00h</time></small>
            <a class="schedule-subtitle" href="#"><span class="icon-medium icon-geolocal"></span><address>Address name</address></a>
          </div>
      </header>
      <ol class="schedule-events">
        <li class="event" id="author-name">
          <img class="event-image" src="#">
          <h3 class="event-title">The Greatest Event Of All Conference</h3>
          <h4 class="event-author">Awesome Author</h4>
          <time class="event-time">7<span>a.m.</span> to 9<span>a.m.</span></time>
          <p class="event-description">Lorem ipum sit dolor amet<a href="#">More</a></p>
        </li>
      </ol>
    </section>

  </article>
</main>
