<footer class="footer">
  <div class="container">
    <div class="brands row">
      <div class="gold">
        <h4 class="footer-title">Gold Sponsor</h4>
        <div class="footer-brands">
          <!--
          <a class="engine-yard" href="https://www.engineyard.com/" target="_blank">
            Engine Yard
          </a>
          -->
          <a class="nic" href="http://www.nic.br/" target="_blank">
            NIC.br — Núcleo de Informação e Coordenação do Ponto BR
          </a>
        </div>
      </div>
      <div class="silver">
        <h4 class="footer-title">Silver Sponsors</h4>
        <div class="footer-brands">
          <a class="github" href="https://github.com/" target="_blank">
            GitHub
          </a>
          <a class="tempest" href="http://tempest.com.br/" target="_blank">
            Tempest — Security Intelligence
          </a>
          <a class="cers" href="http://www.cers.com.br/" target="_blank">
            CERS Cursos Online
          </a>
        </div>
      </div>
    </div>
    <div class="brands row">
      <div class="organizers">
        <h4 class="footer-title">Organizers</h4>
        <div class="footer-brands">
          <a class="guava-software" href="http://guava.com.br/" target="_blank">
            Guava
          </a>
          <a class="eloquent-studio" href="https://pt-br.facebook.com/geteloquent" target="_blank">
            Eloquent Studio
          </a>
          <a class="frevo-on-rails" href="http://frevoonrails.com.br/" target="_blank">
            Frevo on Rails
          </a>
        </div>
      </div>
      <div class="advisory">
        <h4 class="footer-title">Advisory Support</h4>
        <div class="footer-brands">
          <a class="ruby-central-inc" href="http://rubycentral.org/" target="_blank">
            Ruby Central Inc.
          </a>
        </div>
      </div>
    </div>
    <div class="copy">
      <div class="previous-editions row">
        <div class="column">
          <h4 class="footer-title">Previous Editions:</h4>
        </div>
        <div class="column">
          <p>
            <a href='/2012/'><strong>2012</strong></a> <span>•</span>
            <a href='/2013/'><strong>2013</strong></a> <span>•</span>
            <a href='/2014/en/'><strong>2014</strong></a>
          </p>
        </div>
      </div>
      <hr>
      <p>
        <a href="/code-of-conduct"><strong>Code of Conduct</strong></a>
        <span class='hidden-xs'>•</span>
        <a href="/colophon"><strong>Colophon</strong></a>
        <br class='visible-xs-block'><span class='hidden-xs'>•</span>
        <a href="/files/mediakit.zip" target="_blank"><strong>Media Kit</strong></a>
        <br class='visible-xs-block'><span class='hidden-xs'>•</span>
        <a href="/files/prospectus.pdf" target="_blank"><strong>Sponsor Prospectus</strong></a>
        <br class="guava-signature">
        Design, copy &amp; frontend by <a href="http://guava.com.br/" target="_blank"><strong>Guava Software</strong></a>
    </div>
  </div>
  <div class="coconut"></div>
  <div class="sea"></div>
  <div class="wave"></div>
</footer>
