<footer class="footer">
  <div class="container">
    <div class="brands row">
      <h4 class="footer-title">Silver Sponsor</h4>
      <div class="footer-brands footer-brands-a">
        <a class="github" href="https://github.com/" target="_blank">
          <h5>GitHub</h5>
        </a>
      </div>
    </div>
    <div class="brands row">
      <div class="organizers">
        <h4 class="footer-title">Organizers</h4>
        <div class="footer-brands footer-brands-b">
          <a class="guava-software" href="http://guava.com.br/" target="_blank">
            <h5>Guava</h5>
          </a>
          <a class="studio-eloquent" href="https://pt-br.facebook.com/geteloquent" target="_blank">
            <h5>Studio Eloquent</h5>
          </a>
          <a class="frevo-on-rails" href="http://frevoonrails.com.br/" target="_blank">
            <h5>Frevo on Rails</h5>
          </a>
        </div>
      </div>
      <div class="advisory">
        <h4 class="footer-title">Advisory Support</h4>
        <div class="footer-brands footer-brands-c">
          <a class="ruby-central-inc" href="http://rubycentral.org/" target="_blank">
            <h5>Ruby Central Inc.</h5>
          </a>
        </div>
      </div>
    </div>
    <div class="copy">
      <div class="previous-editions row">
        <div class="column">
          <h4 class="footer-title">Previous Editions:</h4>
        </div>
        <div class="column">
          <p>
            <a href='/2012/'><strong>2012</strong></a> <span>•</span>
            <a href='/2013/'><strong>2013</strong></a> <span>•</span>
            <a href='/2014/'><strong>2014</strong></a>
          </p>
        </div>
      </div>
      <hr>
      <p>
        Design, copy &amp; frontend by <a href='http://guava.com.br/' target='_blank'><strong>Guava Software</strong></a>
        <!--<br class='visible-xs-block'><span class='hidden-xs'>•</span> <a href='code-of-conduct.html'><strong>Code of Conduct</strong></a> <span>•</span> <a href='colophon.html'><strong>Colophon</strong></a></p>-->
    </div>
  </div>
  <div class="coconut"></div>
  <div class="sea"></div>
  <div class="wave"></div>
</footer>
