<main class="hero h-event">

  <h1 class="hero-logo p-name">Tropical Ruby '15</h1>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <header class="hero-data p-location">
          <h3 class="dt-duration">March 5-8 2015</h3>
          <h2 class="p-locality">Porto de Galinhas</h2>
          <h3>Summerville</h3>
          <h4>Beach Resort, <span class='p-country-name'>Brazil</span></h4>
        </header>

        <article>
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="hero-about">
                <h3>The Beach Ruby <span class='p-category'>Conference</span></h3>
                <p class="p-summary">Enjoy amazing conversations, stunning landscapes and a superb nature. Come and talk with some of the best Rubyists in this tropical conference.</p>
              </div>
              <ul class="hero-advantages">
                <li>Simultaneous translation</li>
                <li>Free transportation</li>
              </ul>
            </div>
            <div class="col-xs-12 col-sm-6">
              <ul class="hero-social">
                <li>
                  <strong>Say hello!</strong>
                </li>
                <li>
                  <a class="lanyrd" href="http://lanyrd.com/2015/tropicalrb/" target="_blank">Foursquare</a>
                </li>
                <li>
                  <a class="github" href="https://github.com/frevo-on-rails/tropicalrb.com" target="_blank">GitHub</a>
                </li>
                <li>
                  <a class="facebook" href="https://facebook.com/tropicalrb" target="_blank">Facebook</a>
                </li>
                <li>
                  <a class="twitter" href="https://twitter.com/tropicalrb" target="_blank">Twitter</a>
                </li>
                <li>
                  <a class="email" href="mailto:mail@mail.com">E-mail</a>
                </li>
              </ul>
              <form class="newsletter">
                <label for="newsletter-email">Subscribe to our newsletter</label>
                <div class="form-group">
                  <input class="form-control" id="newsletter-email" name="newsletterEmail" placeholder="Enter your email" type="email">
                  <button class="btn btn-default newsletter-submit" type="submit">Cadastrar</button>
                </div>
              </form>
            </div>
          </div>

          <div class="speakers">
            <div class="hero-speaker">
              <img class="hero-speaker-photo" src="images/event-speaker-avdi@2x.png" alt="Advi Green">
              <strong class="hero-speaker-name">Advi Green</strong>
            </div>
            <div class="hero-speaker">
              <img class="hero-speaker-photo" src="images/event-speaker-rodrigo@2x.png" alt="Rodrigo Franco">
              <strong class="hero-speaker-name">Rodrigo Franco</strong>
            </div>
            <div class="hero-speaker">
              <img class="hero-speaker-photo" src="images/event-speaker-nick@2x.png" alt="Nick Sutterer">
              <strong class="hero-speaker-name">Nick Sutterer</strong>
            </div>
            <div class="hero-speaker">
              <img class="hero-speaker-photo" src="images/event-speaker-avdi@2x.png" alt="Advi Green">
              <strong class="hero-speaker-name">Advi Green</strong>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</main>
