<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">

      <button class="navbar-toggle collapsed" data-target="#main-nav" data-toggle="collapse" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a href="index.html" class="navbar-brand">Tropical <span>Ruby</span></a>

    </div>
    <div class="navbar-collapse collapse" id="main-nav">

      <ul class="nav navbar-nav navbar-right">
        <li><a class="square schedule" href="schedule.html">Schedule</a></li>
        <li><a class="square venue" href="venue.html">Venue</a></li>
        <li><a class="square sponsors" href="sponsors.html">Sponsors</a></li>
        <li><a class="square tickets" href="tickets.html">Tickets</a></li>
        <li><a class="language" href="index.html">Português</a></li>
      </ul>

    </div>
  </div>
</nav>
