<nav class="nav-schedule">
  <ol>
    <li class="nav-event one">
      <a href="../schedule/march-5">
        <h4>Workshops</h4>
        <span class="icon-nav icon-recife"></span>
        <time date="2015-03-5">March 5th</time>
      </a>
    </li>
    <li class="nav-event two">
      <a href="../schedule/march-6">
        <h4>Activities &amp; Talks</h4>
        <span class="icon-nav icon-porto"></span>
        <time date="2015-03-6">March 6th</time>
      </a>
    </li>
    <li class="nav-event three">
      <a href="../schedule/march-7">
        <h4>Activities &amp; Talks</h4>
        <span class="icon-nav icon-porto"></span>
        <time date="2015-03-7">March 7th</time>
      </a>
    </li>
    <li class="nav-event four">
      <a href="../schedule/march-8">
        <h4>Activity</h4>
        <span class="icon-nav icon-porto"></span>
        <time date="2015-03-8">March 8th</time>
      </a>
    </li>
  </ol>
</nav>
