<nav class="nav-schedule">
  <ol>
    <li class="nav-event one">
      <h4>Workshops</h4>
      <a href="../schedule/march-5">
        <span class="icon-nav icon-recife"></span>
        <span class="graph-connector end left"></span>
        <time class="nav-event-time" date="2015-03-5"><span>5<sup>th</sup></span> March</time>
      </a>
    </li>
    <li class="nav-event two">
      <h4>Activities &amp; Talks</h4>
      <a href="../schedule/march-6">
        <span class="icon-nav icon-porto"></span>
        <span class="graph-nav icon-car"></span>
        <span class="graph-connector left"></span>
        <time class="nav-event-time" date="2015-03-6"><span>6<sup>th</sup></span> March</time>
      </a>
    </li>
    <li class="nav-event three">
      <h4>Activities &amp; Talks</h4>
      <a href="../schedule/march-7">
        <span class="icon-nav icon-porto"></span>
        <span class="graph-connector left"></span>
        <span class="graph-connector right"></span>
        <time class="nav-event-time" date="2015-03-7"><span>7<sup>th</sup></span> March</time>
      </a>
    </li>
    <li class="nav-event four">
      <h4>Activity</h4>
      <a href="../schedule/march-8">
        <span class="icon-nav icon-porto"></span>
        <span class="graph-connector end right"></span>
        <time class="nav-event-time" date="2015-03-8"><span>8<sup>th</sup></span> March</time>
      </a>
    </li>
  </ol>
</nav>
