---
title: Tropical Ruby 2015 — Code of Conduct — March 5th to 8th at Porto de Galinhas, Brazil
---

<main class="appendix appendix-area">
  <h1>One Code to Rule Them All</h1>

  <section class="wall-of-text">
    <h2>Code of Conduct</h2>
    <p>Tropical Ruby is dedicated to providing a harassment-free conference experience for everyone, regardless of gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, religion or political view. We do not tolerate harassment of conference participants in any form. Sexual language and imagery targeted on any specific group or person is not appropriate for conference venues, including talks. Conference participants violating these rules may be sanctioned or expelled from the conference, without refunds, at the discretion of the conference organizers.</p>
    <p>Harassment includes offensive verbal comments related to gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, religion or political view, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention. Participants asked to stop any harassing behavior are expected to comply immediately.</p>
    <p>Exhibitors in the expo hall, sponsor or vendor booths, or in similar activities are also subject to the anti-harassment policy. In particular, exhibitors should not use sexualized images, activities, or other material. Both staff (including volunteers) should not use sexualized clothing or otherwise create a sexualized environment. Although the conference is located at a beach, the attendees, staff and exhibitors cannot wear bath suits during the talks.</p>
    <p>If a participant engages in harassing behavior, the conference organizers may take any action they deem appropriate, including warning the offender or expulsion from the conference with no refund. If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of conference staff immediately. Conference staff can be identified by T-shirts and special badges sets.</p>
    <p>Conference staff will be happy to help participants contact hotel security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the conference. We value your attendance.</p>
    <h3>Useful Contacts</h3>
    <ol>
      <li>Conference staff: <a href="mailto:info@tropicalrb.com">info@tropicalrb.com</a></li>
      <li>Summerville Beach Resort: <strong>(+55) 81 3302 5555</strong></li>
      <li>Local Law Enforcement: <strong>190</strong></li>
      <li>Local Sexual Assault Hot Line: <strong>180</strong></li>
      <li>Local Emergency and Non-Emergency Medical: <strong>192</strong></li>
    </ol>
    <p>We expect participants to follow these rules at all conference venues and conference-related social events.</p>
  </section>
</main>

