---
title: Tropical Ruby 2015 — Colophon — March 5th to 8th at Porto de Galinhas, Brazil
---

<main class="appendix appendix-area">
  <h1>Yes, We Did It!</h1>

  <section class="credits">
    <h2>Colophon</h2>
    <h4>Proudly organized by</h4>
    <dl>
      <dt><a href="http://guava.com.br" target="_blank">Guava Software</a></dt>
      <dd>Organization, copywriting, frontend, design &amp; illustration</dd>
      <dt><a href="http://geteloquent.com" target="_blank">Eloquent Studio</a></dt>
      <dd>Curatorship</dd>
      <dt><a href="http://twitter.com/dinizz" target="_blank">Thiago Diniz</a></dt>
      <dd>Sponsorship manager</dd>
      <hr>
      <dt><a href="http://www.rubycetral.org" target="_blank">Ruby Central</a></dt>
      <dd>Advisory Support</dd>
      <dt><a href="http://recife.impacthub.net" target="_blank">Impact Hub Recife</a></dt>
      <dd>Advisory Support</dd>
      <dt><a href="http://www.casaeventosempresariais.com.br" target="_blank">Casa Eventos Empresarias</a></dt>
      <dd>Executive Producer</dd>
    </dl>
    <h4>Iconography</h4>
    <small>Available at <a href="http://www.thenounproject.com" target="_blank">The Noun Project</a></small>
    <dl>
      <dt>Ticket</dt>
      <dd>by NAS</dd>
      <dt>Translation</dt>
      <dd>by Geremy Good</dd>
      <dt>Bus</dt>
      <dd>by Pierre-Luc Auclair</dd>
      <dt>Jeep With Surfboard</dt>
      <dd>by Luis Prado</dd>
      <dt>Bridge Upon The Water</dt>
      <dd>by Sérgio Fontes</dd>
      <dt>Island</dt>
      <dd>by Arthur Schmitt</dd>
      <dt>Calendar</dt>
      <dd>by aartiraghu</dd>
      <dt>Location</dt>
      <dd>by Fission Strategy</dd>
      <dt>Jeep (Front)</dt>
      <dd>by Luis Prado</dd>
      <dt>Raft Sail Boat</dt>
      <dd>by Pham Thi Dieu Linh</dd>
      <dt>Boat (Catamaran)</dt>
      <dd>by Pham Thi Dieu Linh</dd>
      <dt>Snorkel</dt>
      <dd>by Nithin Viswanathan</dd>
      <dt>Name Tag</dt>
      <dd>by Sérgio Fontes</dd>
      <dt>Beach Ball</dt>
      <dd>by Celine Labaume</dd>
      <dt>Gear</dt>
      <dd>by Reed Enger</dd>
      <dt>Microphone</dt>
      <dd>by Edward Boatman</dd>
      <dt>Eye</dt>
      <dd>by Travis Yunis</dd>
      <dt>Newspaper</dt>
      <dd>by Arthur Schmitt</dd>
      <dt>Fist Bump</dt>
      <dd>by Kyle Tezak</dd>
    </dl>
    <h4>Typography</h4>
    <small>Available at <a href="http://www.google.com/fonts" target="_blank">Google Fonts</a></small>
    <dl>
      <dt>Molle</dt>
      <dd>by Elena Albertoni</dd>
      <dt>Titillium</dt>
      <dd>by Accademia di Belle Arti di Urbino</dd>
      <dt>Xilosa</dt>
      <dd>by Atila Milanio</dd>
    </dl>
    <h4>Color Pallettes</h4>
    <small>Available at <a href="http://www.colourlovers.com" target="_blank">Colour Lovers</a></small>
    <dl>
      <dt>Tropical Beach</dt>
      <dd>by jasurprenant</dd>
      <dt>50s Postscards</dt>
      <dd>by T-Time</dd>
      <dt>Frevo On Rails</dt>
      <dd>by Sérgio Fontes</dd>
    </dl>
    <h4>Technology</h4>
    <ol>
      <li>Pencil &amp; paper</li>
      <li>Adobe Photoshop</li>
      <li>Adobe Illustator</li>
      <li>Sublime Text Editor</li>
      <li>The Middleman</li>
      <li>GitHub Repo</li>
      <li>GitHub Pages</li>
      <li>Slack</li>
    </ol>
  </section>
</main>

