---
title: Tropical Ruby 2015
---

<header class="header-primary" id="header-primary">
  <h1 class="logo-primary">Tropical Ruby</h1>
</header>

<main class="main" id="main">
  <div class="content">
    <section class="event-info">
      <h2 class="title-info">O melhor do Ruby na praia</h2>
      <p class="description-info">
        Curta ótimas conversas, paisagens deslumbrantes e uma natureza sensacional. Venha conversar com alguns dos melhores Rubistas nesta conferência tropical.
      </p>

      <ul class="social-list">
        <li class="social-item">
          <a href="http://lanyrd.com/2015/tropicalrb/" href="_blank" class="social-link lanyrd" target="_blank" title="Lanyrd">Lanyrd</a>
        </li>

        <li class="social-item">
          <a href="http://twitter.com/tropicalrb" href="_blank" class="social-link twitter" target="_blank" title="Twitter">Twitter</a>
        </li>

        <li class="social-item">
          <a href="https://www.facebook.com/tropicalrb" href="_blank" class="social-link facebook" target="_blank" title="Facebook">Facebook</a>
        </li>

        <li class="social-item">
          <a href="https://github.com/frevo-on-rails/tropicalrb.com" href="_blank" class="social-link github" target="_blank" title="Github">Github</a>
        </li>
      </ul>

      <ul class="past-events">
        <li class="past-event-item">
          <a href="2012/" class="past-event-link" title="Veja como foi o evento de 2012">2012</a>
        </li>

        <li class="past-event-item">
          <a href="2013/" class="past-event-link" title="Veja como foi o evento de 2013">2013</a>
        </li>

        <li class="past-event-item">
          <a href="2014/" class="past-event-link" title="Veja como foi o evento de 2014">2014</a>
        </li>
      </ul>

      <form class="form-send-email" id="form-send-email" method="">
        <input type="email" name="email" class="input-primary medium" placeholder="Seu endereço de email">
        <input type="submit" class="btn small btn-primary send" value=" ">
      </form>
    </section>

    <section class="event-info">
      <div class="local-logo"></div>
      <a href="files/prospectus.pdf" class="prospectus btn large btn-primary" title="Quer ser um dos nossos patrocinadores? Fala com a gente!">
        <span class="icon-document"></span>
        Veja o nosso prospecto
      </a>
    </section>

    <section class="event-info talks">
      <h2 class="title-info title-talk">Palestrantes convidados</h2>

      <ul class="talks-list">
        <li class="talks-item">
          <a href="#" class="talks-link" title="">
            <div class="talks-image avdi"></div>
            <div class="box-info">
              <h3 class="talks-title">Avdi Grimm</h3>
              <p class="talks-info">From ShipRise and WideTeams</p>
            </div>
          </a>
        </li>

        <li class="talks-item">
          <a href="#" class="talks-link" title="">
            <div class="talks-image nick"></div>
            <div class="box-info">
              <h3 class="talks-title">Nick Sutterer</h3>
              <p class="talks-info">Don’t be an asshole</p>
            </div>
          </a>
        </li>
      </ul>
    </section>
  </div>

  <footer class="organization">
    <aside class="organized">
      <h3 class="title">Organized By</h3>

      <div class="brand block">
        <a href="http://frevoonrails.com.br/" target="_blank" class="brand-link frevo" title="Frevo on rails">Frevo on rails</a>
      </div>

      <div class="brand">
        <a href="http://guava.com.br" target="_blank" class="brand-link guava" title="Guava">Guava</a>
      </div>

      <div class="brand">
        <a href="https://www.facebook.com/geteloquent" target="_blank" class="brand-link eloquent" title="Eloquent">Eloquent</a>
      </div>
    </aside>

    <aside class="support">
      <h3 class="title">Advisory support</h3>

      <div class="brand">
        <a href="http://rubycentral.org/" target="_blank" class="brand-link ruby-central" title="Ruby Central">Ruby Central</a>
      </div>
    </aside>
  </footer>
</main>

<footer class="footer-primary" id="footer-primary">
  <!-- hit area -->
  <div id="tap" class="tap"></div>

  <div id="coconut" class="coconut"></div>
  <span class="coco"></span>

  <div class="wave"></div>
  <div class="swell"></div>
</footer>
