---
title: Tropical Ruby 2015 — March 5th to 8th at Porto de Galinhas, Brazil
---

<header class="header-primary" id="header-primary">
  <h1 class="logo-primary">Tropical Ruby</h1>
</header>

<main class="main" id="main">
  <div class="content">
    <section class="event-info"> <!-- Presentation -->
      <h2 class="title-info">The Beach Ruby Conference</h2>
      <p class="description-info">
        Enjoy amazing conversations, stunning landscapes and a superb nature. Come and talk with some of the best Rubyists in this tropical conference.
      </p>

      <ul class="social-list">
        <li class="social-item">
          <a href="http://lanyrd.com/2015/tropicalrb/" class="social-link lanyrd" target="_blank" title="Lanyrd">Lanyrd</a>
        </li>

        <li class="social-item">
          <a href="http://twitter.com/tropicalrb" class="social-link twitter" target="_blank" title="Twitter">Twitter</a>
        </li>

        <li class="social-item">
          <a href="https://www.facebook.com/tropicalrb" class="social-link facebook" target="_blank" title="Facebook">Facebook</a>
        </li>

        <li class="social-item">
          <a href="https://github.com/frevo-on-rails/tropicalrb.com" class="social-link github" target="_blank" title="Github">GitHub</a>
        </li>
      </ul>

      <form class="form-send-email" id="form-send-email" method="post" action="//abrilproruby.us3.list-manage.com/subscribe/post?u=91f07f556bcf88c39c98457f7&amp;id=12c348ff6f" target="_blank">
        <label for="email" class="title-info">Subscribe our newsletter</label>
        <input id="email" type="email" name="EMAIL" class="input-primary medium" placeholder="Enter your e-mail address">
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;">
          <input type="text" name="b_91f07f556bcf88c39c98457f7_12c348ff6f" tabindex="-1" value="">
        </div>
        <input type="submit" class="btn small btn-primary send" value="">
      </form>
    </section>

    <section class="event-info"> <!-- Prospectus -->
      <div class="local-logo"></div>
      <a href="files/prospectus.pdf" class="prospectus btn large btn-primary" title="Do you want to sponsor Tropical Ruby? Talk with us!">
        <span class="icon-document"></span>See our prospectus
      </a>

      <aside class="btn-huge buy-ticket">
        <a href="#" target="_blank" title="Compre seu ingresso">
          <span></span>
          <p class="description">Buy your ticket</p>
        </a>
      </aside>

      <aside class="btn-huge submit-talk">
        <a href="http://cfp.tropicalrb.com/" target="_blank" title="Submeta sua palestra">
          <span></span>
          <p class="description">Subscribe your talk</p>
        </a>
      </aside>
    </section>

    <section class="event-info talks"> <!-- Speakers -->
      <h2 class="title-info title-talk">Invited Speakers</h2>

      <ul class="talks-list">
        <li class="talks-item nick">
          <a href="http://lanyrd.com/profile/apotonick/" target="_blank" class="talks-link" title="Know more about Nick Sutterer in Lanyrd.">
            <div class="talks-image nick"></div>
            <div class="box-info">
              <p class="talks-info">Creator of Trailblazer</p>
              <h3 class="talks-title">Nick</h3>
            </div>
          </a>
        </li>

        <li class="talks-item avdi">
          <a href="http://lanyrd.com/profile/avdi/" target="_blank" class="talks-link" title="Know more about Avdi Grimm in Lanyrd.">
            <div class="talks-image avdi"></div>
            <div class="box-info">
              <p class="talks-info">From Ruby Tapas and Ruby Rogues</p>
              <h3 class="talks-title">Avdi</h3>
            </div>
          </a>
        </li>

        <li class="talks-item rodrigo">
          <a href="#" target="_blank" class="talks-link" title="Know more about Rodrigo in Lanyrd.">
            <div class="talks-image rodrigo"></div>
            <div class="box-info">
              <p class="talks-info">Application Engineer at LivingSocial.</p>
              <h3 class="talks-title">Rodrigo</h3>
            </div>
          </a>
        </li>
      </ul>
    </section>
  </div>

  <footer class="organization"> <!-- Organized -->
    <aside class="organized">
      <h3 class="title">Organized By</h3>

      <div class="brand block">
        <a href="http://frevoonrails.com.br/" target="_blank" class="brand-link frevo" title="Frevo on rails">Frevo on rails</a>
      </div>

      <div class="brand">
        <a href="http://guava.com.br" target="_blank" class="brand-link guava" title="Guava">Guava</a>
      </div>

      <div class="brand">
        <a href="https://www.facebook.com/geteloquent" target="_blank" class="brand-link eloquent" title="Eloquent">Eloquent</a>
      </div>
    </aside>

    <aside class="support">
      <h3 class="title">Advisory support</h3>

      <div class="brand">
        <a href="http://rubycentral.org/" target="_blank" class="brand-link ruby-central" title="Ruby Central">Ruby Central</a>
      </div>
    </aside>

    <aside class="past-events">
      <ul class="past-events-list">
        <h4>Past editions:</h4>

        <li class="past-event-item">
          <a href="2012/" class="past-event-link" title="See how the 2012 editon was.">2012</a>
        </li>

        <li class="past-event-item">
          <a href="2013/" class="past-event-link" title="See how the 2013 editon was.">2013</a>
        </li>

        <li class="past-event-item">
          <a href="2014/" class="past-event-link" title="See how the 2014 editon was.">2014</a>
        </li>
      </ul>

      <div class="credits">
        <div class="design">
          Design by <a href="http://guava.com.br" target="_blank" title="Guava Software">Guava Software</a>.
        </div>

        <div class="front-end">
          Front-end by <a href="http://twitter.com/thulioph_" target="_blank" title="@thulioph_">@thulioph_</a>.
        </div>
      </div>
    </aside>
  </footer>
</main>

<footer class="footer-primary" id="footer-primary">
  <!-- hit area -->
  <div id="tap" class="tap"></div>

  <div id="coconut" class="coconut"></div>
  <span class="coco"></span>

  <div class="wave"></div>
  <div class="swell"></div>
</footer>
