---
title: Tropical Ruby 2015 — March 5th to 8th at Porto de Galinhas, Brazil
stylesheet: pages/index
---

<main class="hero">
  <h1 class="hero-logo">Tropical Ruby '15</h1>

  <header class="hero-data">
    <time datetime="2015-03-5 8:00, 2015-03-8 9:00">March 5-8 2015</time>
    <address>Porto de Galinhas<br>
    Summerville<br>
    Beach Resort, Brazil</address>
  </header>

  <article>

    <section class="about row">
      <div class="hero-description">
        <h3>The Beach Ruby Conference</h3>
        <p>Enjoy amazing conversations, stunning landscapes and a superb nature. Come and talk with some of the best Rubyists in this tropical conference.</p>
        <ul class="hero-advantages">
          <li>Simultaneous translation</li>
          <li>Free transportation</li>
        </ul>
      </div>
      <div class="hero-social">
        <span class="greetings"></span>
        <ul>
          <li>
            <a class="lanyrd" href="http://lanyrd.com/2015/tropicalrb/" target="_blank">Foursquare</a>
          </li>
          <li>
            <a class="github" href="https://github.com/frevo-on-rails/tropicalrb.com" target="_blank">GitHub</a>
          </li>
          <li>
            <a class="facebook" href="https://facebook.com/tropicalrb" target="_blank">Facebook</a>
          </li>
          <li>
            <a class="twitter" href="https://twitter.com/tropicalrb" target="_blank">Twitter</a>
          </li>
          <li>
            <a class="email" href="mailto:mail@mail.com">E-mail</a>
          </li>
        </ul>
        <form class="newsletter">
          <label for="newsletter-email">Subscribe to our newsletter</label>
          <div class="form-group">
            <input class="form-control" id="newsletter-email" name="newsletterEmail" placeholder="Enter your email" type="email">
            <button class="btn btn-default newsletter-submit" type="submit">Cadastrar</button>
          </div>
        </form>
      </div>
    </section>

    <section class="speakers">
      <div class="hero-speaker">
        <img class="hero-speaker-photo" src="images/event-speaker-avdi@2x.png" alt="Advi Green">
        <strong class="hero-speaker-name">Advi Green</strong>
      </div>
      <div class="hero-speaker">
        <img class="hero-speaker-photo" src="images/event-speaker-rodrigo@2x.png" alt="Rodrigo Franco">
        <strong class="hero-speaker-name">Rodrigo Franco</strong>
      </div>
      <div class="hero-speaker">
        <img class="hero-speaker-photo" src="images/event-speaker-nick@2x.png" alt="Nick Sutterer">
        <strong class="hero-speaker-name">Nick Sutterer</strong>
      </div>
      <div class="hero-speaker">
        <img class="hero-speaker-photo" src="images/event-speaker-avdi@2x.png" alt="Advi Green">
        <strong class="hero-speaker-name">Advi Green</strong>
      </div>
    </section>

  </article>
</main>

