---
title: The Tropical Ruby Conference
---

<header class="header-primary" id="header-primary">
  <h1 class="logo-primary">
    <figure class="logo-img"></figure>
  </h1>
</header>


<main class="main" id="main">
  <section class="event-info">
    <h2 class="title-info">O melhor do Ruby na praia</h2>
    <p class="description-info">
      Curta ótimas conversas, paisagens deslumbrantes e uma natureza sensacional. Venha conversar com alguns dos melhores Rubistas nesta conferência tropical.
    </p>

    <ul class="social-links">
      <li class="social-item">
        <a href="#" class="social-link" title="Landrys">landrys</a>
      </li>
      
      <li class="social-item">
        <a href="#" class="social-link" title="Twitter">Twitter</a>
      </li>
      
      <li class="social-item">
        <a href="#" class="social-link" title="Facebook">Facebook</a>
      </li>
      
      <li class="social-item">
        <a href="#" class="social-link" title="Github">Github</a>
      </li>
    </ul>

    <ul class="past-events">
      <li class="past-event-item">
        <a href="#" class="past-event-link" title="2012">2012</a>
      </li>

      <li class="past-event-item">
        <a href="#" class="past-event-link" title="2013">2013</a>
      </li>

      <li class="past-event-item">
        <a href="#" class="past-event-link" title="2014">2014</a>
      </li>
    </ul>

    <form class="send-email" id="send-email">
      <input type="email" name="email" placeholder="Seu endereço de email">
      <input type="submit" value="submit">
    </form>
  </section>

  <section class="event-info">
    <figure class="local-logo"></figure>
    <button class="btn-primary prospectus">Veja o nosso prospecto</button>
  </section>

  <section class="event-info">
    <h2 class="title-info">Palestrantes convidados</h2>

    <ul class="talks-list">
      <li class="talks-item">
        <a href="#" class="talsk-item" title="">
          <figure class="talks-image"></figure>
          <h3 class="talks-title">Nick Sutterer</h3>
          <p class="talks-info">Don’t be an asshole</p>
        </a>
      </li>

      <li class="talks-item">
        <a href="#" class="talsk-item" title="">
          <figure class="talks-image"></figure>
          <h3 class="talks-title">Gary Bernhardt</h3>
          <p class="talks-info">Software developer, screencaster</p>
        </a>
      </li>
    </ul>
  </section>

  <footer class="organization">
    <aside class="organized">
      <h3 class="title">Organized By</h3>
      <figure class="organization-image"></figure>
      <figure class="organization-image"></figure>
      <figure class="organization-image"></figure>
    </aside>

    <aside class="support">
      <h3 class="title">Advisory support</h3>
      <figure class="organization-image"></figure>
    </aside>
  </footer>
</main>


<footer class="footer-primary" id="footer-primary">
  
</footer>