---
title: Tropical Ruby 2015 — Schedule — March 5th to 8th at Porto de Galinhas, Brazil
stylesheet: pages/schedule
---

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sx-12">
        <h6 class="footer-title">Silver Sponsor</h6>
        <div class="footer-brands footer-brands-a">
          <a class="github" href="https://github.com/" target="_blank">
            <h5>GitHub</h5>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sx-12 col-sm-5 col-sm-offset-1">
        <h6 class="footer-title">Organizers</h6>
        <div class="footer-brands footer-brands-b">
          <a class="frevo-on-rails" href="http://frevoonrails.com.br/" target="_blank">
            <h5>Frevo on Rails</h5>
          </a>
          <a class="guava-software" href="http://guava.com.br/" target="_blank">
            <h5>Guava</h5>
          </a>
          <a class="studio-eloquent" href="https://pt-br.facebook.com/geteloquent" target="_blank">
            <h5>Studio Eloquent</h5>
          </a>
        </div>
      </div>
      <div class="col-sx-12 col-sm-5">
        <h6 class="footer-title">Advisory Support</h6>
        <div class="footer-brands footer-brands-c">
          <a class="ruby-central-inc" href="http://rubycentral.org/" target="_blank">
            <h5>Ruby Central Inc.</h5>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="footer-rights">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <p>PREVIOUS EDITIONS:</p>
            </div>
            <div class="col-xs-12 col-sm-6">
              <p><a href='#'><strong>2012</strong></a> <span>•</span> <a href='#'><strong>2013</strong></a> <span>•</span> <a href='#'><strong>2014</strong></a></p>
            </div>
          </div>
          <hr>
          <p>Design, copy &amp; frontend by <a href='http://guava.com.br/' target='_blank'><strong>Guava Software</strong></a>.<br class='visible-xs-block'><span class='hidden-xs'>•</span> <a href='code-of-conduct.html'><strong>Code of Conduct</strong></a>. <span>•</span> <a href='colophon.html'><strong>Colophon</strong></a>.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
