---
title: Tropical Ruby 2015 — Venue — March 5th to 8th at Porto de Galinhas, Brazil
stylesheet: pages/venue
---

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <div class="footer-rights">

          <div class="row">
            <div class="col-xs-12 col-sm-6">

              <p>PREVIOUS EDITIONS:</p>

            </div>
            <div class="col-xs-12 col-sm-6">

              <p><a href='#'><strong>2012</strong></a> <span>•</span> <a href='#'><strong>2013</strong></a> <span>•</span> <a href='#'><strong>2014</strong></a></p>

            </div>
          </div>

          <hr>

          <p>Design, copy & frontend by <a href='http://guava.com.br/' target='_blank'><strong>Guava Software</strong></a>.<br class='visible-xs-block'><span class='hidden-xs'>•</span> <a href='code-of-conduct.html'><strong>Code of Conduct</strong></a>. <span>•</span> <a href='colophon.html'><strong>Colophon</strong></a>.</p>

        </div> <!-- /.footer-rights -->

      </div> <!-- /.col-xs-12 -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</div> <!-- /.footer -->
